{% extends "base.html" %}
{% load static %}
{% block meta %}
    <meta property="og:title" content="디닷에프 | D-dot-f">
    <meta property="og:url" content="{% url 'home:home' %}">
    <!-- <meta name="robots" content="index,follow"> -->
{% endblock %}
{% block title %}디닷에프{% endblock %}
{% block body %}
    <!-- Hero -->
    <div class="relative sm:pt-6 lg:pt-8">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-xl overflow-hidden">
                <div class="absolute inset-0" aria-hidden="true">
                    <div class="mix-blend-multiply w-full h-full">
                        <!-- Swiper -->
                        <div class="swiper mySwiper w-full h-full">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="object-cover w-full h-full grayscale"
                                         height=""
                                         width=""
                                         alt="영상 편집 사진"
                                         src="https://source.unsplash.com/random/1280×600/?video-editing" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="object-cover w-full h-full grayscale"
                                         height=""
                                         width=""
                                         alt="카메라 렌즈 사진"
                                         src="https://source.unsplash.com/random/1280×600/?camera-lens" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="object-cover w-full h-full grayscale"
                                         height=""
                                         width=""
                                         alt="영화 장비 사진"
                                         src="https://source.unsplash.com/random/1280×600/?film-gear" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="object-cover w-full h-full grayscale"
                                         height=""
                                         width=""
                                         alt="카메라 장비 사진"
                                         src="https://source.unsplash.com/random/1280×600/?camera-gear" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="object-cover w-full h-full grayscale"
                                         height=""
                                         width=""
                                         alt="카메라 사진"
                                         src="https://source.unsplash.com/random/1280×600/?video-camera" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">
                        <span id="introMessage"></span>
                        <span id="emoji" aria-hidden="true"></span>
                    </h1>
                    <p class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                        동국대학교 영화영상학과 올인원 플랫폼 <span class="font-semibold">디닷에프</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Weather -->
    <div class="mt-8 relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between gap-1">
            <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="currentColor"
                     class="w-6 h-6 text-gray-500"
                     aria-hidden="true">
                    <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                </svg>
                <div class="animate-pulse pulse-on mt-0.5 h-5 w-44 bg-gray-200 rounded"></div>
                <h3 class="pulse-off text-lg font-medium leading-6 text-gray-600 hidden"
                    id="id_address">-</h3>
            </div>
            <a href="https://www.weather.go.kr/w/weather/forecast/short-term.do"
               target="_blank"
               class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                기상청
                <span aria-hidden="true">↗</span>
            </a>
        </div>
        <dl class="mt-5 grid grid-cols-1 gap-5 lg:grid-cols-3">
            <div class="overflow-hidden rounded-md bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">기온, 하늘상태</dt>
                <div class="animate-pulse pulse-on mt-3 sm:mt-4 grid grid-cols-10 gap-2"
                     aria-hidden="ture">
                    <div class="h-6 bg-gray-200 rounded col-span-5"></div>
                    <div class="h-6 bg-gray-200 rounded col-span-3"></div>
                </div>
                <dd class="pulse-off mt-1 text-2xl sm:text-3xl font-semibold tracking-tight text-gray-900 truncate hidden">
                    <span id="id_temperature">-.-</span>℃<span class="text-sm sm:text-base text-gray-500">(<span id="id_temperatureMax">-</span>℃/<span id="id_temperatureMin">-</span>℃)</span>,
                    <span id="id_skyState">-</span>
                </dd>
            </div>
            <div class="overflow-hidden rounded-md bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">일출시각, 일몰시각</dt>
                <div class="animate-pulse pulse-on mt-3 sm:mt-4 grid grid-cols-10 gap-2"
                     aria-hidden="ture">
                    <div class="h-6 bg-gray-200 rounded col-span-3"></div>
                    <div class="h-6 bg-gray-200 rounded col-span-3"></div>
                </div>
                <dd class="pulse-off mt-1 text-2xl sm:text-3xl font-semibold tracking-tight text-gray-900 truncate hidden">
                    <span id="id_sunrise">--:--</span>,
                    <span id="id_sunset">--:--</span>
                </dd>
            </div>
            <div class="overflow-hidden rounded-md bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">풍속, 강수확률</dt>
                <div class="animate-pulse pulse-on mt-3 sm:mt-4 grid grid-cols-10 gap-2"
                     aria-hidden="ture">
                    <div class="h-6 bg-gray-200 rounded col-span-5"></div>
                    <div class="h-6 bg-gray-200 rounded col-span-4"></div>
                </div>
                <dd class="pulse-off mt-1 text-2xl sm:text-3xl font-semibold tracking-tight text-gray-900 truncate hidden">
                    <span id="id_windSpeed">-.-</span>m/s<span class="text-sm sm:text-base text-gray-500">(<span id="id_windName">-</span>)</span>,
                    <span id="id_precipitationProbability">-</span>%<span class="text-sm sm:text-base text-gray-500">(<span id="id_precipitationType">-</span>)</span>
                </dd>
            </div>
        </dl>
        <div class="animate-pulse pulse-on mt-[14px] sm:mt-3 flex justify-end">
            <div class="h-[18px] sm:h-[20px] w-52 justify-self-end bg-gray-200 rounded"></div>
        </div>
        <p class="pulse-off mt-3 text-sm text-right text-gray-400 hidden">
            <span id="id_accuracy">약 00m 오차</span> |
            <span id="id_baseDateTime">00월 00일 00시 발표</span>
        </p>
    </div>
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-8 lg:gap-5 lg:grid-cols-2">
            <!-- DF link -->
            <div>동영링크 리스트</div>
            <!-- Notice -->
            <div>공지사항 리스트</div>
        </div>
    </div>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/random-string.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    {% if user.is_authenticated and is_new_user %}
        <script>
            let name = "{{ user.metadata.name }}"
            alertWelcomeNewUser(name);
        </script>
    {% endif %}
{% endblock %}
