{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block meta %}
    <meta property="og:title" content="기자재 - 디닷에프 | D-dot-f">
    <meta property="og:url" content="{% url 'equipment:equipment' %}">
    <meta name="robots" content="index,follow">
{% endblock meta %}
{% block title %}
    {{ equipment.name }} - 기자재 - 디닷에프
{% endblock title %}
{% block body %}
    <!-- Hero -->
    <div class="relative sm:pt-6 lg:pt-8">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-xl overflow-hidden">
                <div class="absolute inset-0" aria-hidden="true">
                    <div class="mix-blend-multiply w-full h-full">
                        <!-- Swiper -->
                        <div class="swiper mySwiper w-full h-full">
                            <div class="swiper-wrapper">
                                {% for image in image_list|shuffle %}
                                    <div class="swiper-slide">
                                        <img class="object-cover w-full h-full grayscale"
                                             height=""
                                             width=""
                                             alt=""
                                             src="{{ image }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">기자재</h1>
                    <p class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                        카메라, 오디오 레코더 등 기자재 대여
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail -->
    <div class="mt-6 relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div id="id_detail"
             class="bg-white shadow rounded-md px-4 py-5 sm:px-6 lg:grid lg:grid-cols-2 lg:gap-x-8"
             data-record-id="{{ equipment.record_id }}"
             data-collection-id="{{ equipment.collection_id }}"
             data-thumbnail="{{ equipment.thumbnail }}"
             data-name="{{ equipment.name }}"
             data-category="{{ equipment.category.keyword }}"
             data-subcategory="{{ equipment.subcategory.keyword }}">
            <!-- Title -->
            <div id="id_detail_title"
                 class="lg:col-start-2 lg:row-start-1 sm:h-[126px] sm:pb-[110px] sm:z-10">
                <p class="inline-block rounded-md whitespace-nowrap px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-slate-600/20">
                    {{ equipment.category.keyword }}
                </p>
                <h2 class="text-gray-700 text-xl sm:text-2xl font-bold break-words mt-2">{{ equipment.name }}</h2>
                <div class="flex justify-between items-center mt-3 h-[24px]">
                    <div class="flex items-center text-sm text-gray-500 gap-x-1">
                        <span>{{ equipment.collection_id }}</span>
                        {% if equipment.subcategory.keyword != None %}
                            <span>·</span>
                            <span>{{ equipment.subcategory.keyword }}</span>
                        {% endif %}
                    </div>
                    <div x-data="Components.menu({ open: false })"
                         x-init="init()"
                         @keydown.escape.stop="open = false; focusButton()"
                         @click.away="onClickAway($event)"
                         class="relative ml-auto">
                        <button type="button"
                                class="-m-2 block p-2 rounded-md text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:cursor-not-allowed"
                                id="id_detail_option"
                                x-ref="button"
                                @click="onButtonClick()"
                                @keyup.space.prevent="onButtonEnter()"
                                @keydown.enter.prevent="onButtonEnter()"
                                aria-expanded="false"
                                aria-haspopup="true"
                                x-bind:aria-expanded="open.toString()"
                                @keydown.arrow-up.prevent="onArrowUp()"
                                @keydown.arrow-down.prevent="onArrowDown()">
                            <span class="sr-only">옵션 열기</span>
                            <svg class="h-5 w-5"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 aria-hidden="true">
                                <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z">
                                </path>
                            </svg>
                        </button>
                        <div x-show="open"
                             x-transition:enter="transition ease-out duration-100"
                             x-transition:enter-start="transform opacity-0 scale-95"
                             x-transition:enter-end="transform opacity-100 scale-100"
                             x-transition:leave="transition ease-in duration-75"
                             x-transition:leave-start="transform opacity-100 scale-100"
                             x-transition:leave-end="transform opacity-0 scale-95"
                             class="absolute right-0 z-10 mt-0.5 w-32 origin-top-right rounded-md bg-white py-1 shadow-md ring-1 ring-gray-900/5 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-flamingo-500"
                             x-ref="menu-items"
                             x-bind:aria-activedescendant="activeDescendant"
                             role="menu"
                             aria-orientation="vertical"
                             aria-labelledby="id_detail_option"
                             tabindex="-1"
                             @keydown.arrow-up.prevent="onArrowUp()"
                             @keydown.arrow-down.prevent="onArrowDown()"
                             @keydown.tab="open = false"
                             @keydown.enter.prevent="open = false; $event.target.children[activeIndex].click()"
                             @keyup.space.prevent="open = false; $event.target.children[activeIndex].click()"
                             style="display: none">
                            <div class="class-share block px-4 py-2 text-sm text-gray-700 cursor-pointer"
                                 x-state:on="Active"
                                 x-state:off="Not Active"
                                 :class="{ 'bg-gray-100': activeIndex === 0 }"
                                 role="menuitem"
                                 tabindex="-1"
                                 id="id_detail_share"
                                 @mouseenter="onMouseEnter($event); activeIndex = 0"
                                 @mousemove="onMouseMove($event, 0)"
                                 @mouseleave="onMouseLeave($event); activeIndex = -1"
                                 @click="open = false">공유하기</div>
                        </div>
                    </div>
                </div>
                <div class="relative mt-2">
                    <div class="absolute inset-0 flex items-center sm:items-end"
                         aria-hidden="true">
                        <div class="w-full border-t border-gray-100"></div>
                    </div>
                    <div class="relative flex justify-end min-h-[36px] sm:min-h-[18px]"></div>
                </div>
            </div>
            <!-- Image -->
            <div id="id_detail_image"
                 class="lg:col-start-1 lg:row-start-1 lg:row-span-2">
                <div class="flex justify-center items-center aspect-1 sm:pt-4 overflow-hidden rounded-lg">
                    <img src="{{ equipment.thumbnail }}"
                         alt="{{ equipment.name }} 사진"
                         class="max-h-[500px] max-w-[500px] h-full w-full object-cover object-center"
                         height=""
                         width="">
                </div>
            </div>
            <!-- Content -->
            <div id="id_detail_content"
                 class="pt-4 sm:mt-0 lg:col-start-2 lg:row-start-1 lg:self-start">
                <div id="id_detail_content_padding_top" class="sm:pt-[110px]"></div>
                <section aria-labelledby="details-heading">
                    <h2 id="details-heading" class="sr-only">기자재 정보</h2>
                    <div class="divide-y divide-gray-100 border-t border-t-gray-100 sm:border-t-0">
                        <div x-data="{ open: true }">
                            <h3>
                                <button id="id_detail_purpose"
                                        type="button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left rounded-md focus:outline-none focus:df-focus-ring-offset-white"
                                        aria-controls="id_detail_purpose_content"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-sm font-medium text-gray-900"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">대여 목적 제한</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="h-6 w-6 text-gray-400 group-hover:text-gray-500 block"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500 hidden"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pb-6"
                                 id="id_detail_purpose_content"
                                 x-show="open"
                                 style="display: none">
                                <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                                    {% for purpose in purpose_list %}
                                        <label class="relative flex justify-between items-center h-[72px] p-4 shadow-sm rounded-md {% if purpose.priority == purpose_priority %} df-ring-inset-flamingo {% else %} df-ring-inset-gray {% endif %} ">
                                            <span class="flex flex-col space-y-1">
                                                <div class="flex items-center">
                                                    <span class="block text-sm font-medium text-gray-900">{{ purpose.keyword }}</span>
                                                </div>
                                                <div class="flex items-center text-sm text-gray-500">
                                                    {% if purpose.available %}
                                                        대여 가능
                                                    {% else %}
                                                        대여 불가
                                                    {% endif %}
                                                </div>
                                            </span>
                                            {% if purpose.priority == purpose_priority %}
                                                <div class="flex-none">
                                                    <span class="sr-only">선택된 대여 목적</span>
                                                    <svg class="h-5 w-5 ml-1 text-flamingo"
                                                        viewBox="0 0 16 20"
                                                        fill="currentColor"
                                                        aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                            {% elif purpose.available %}
                                                <div class="flex-none ml-2 rounded-full p-1 text-flamingo-400 bg-flamingo-400/20">
                                                    <div class="h-2 w-2 rounded-full bg-current"></div>
                                                </div>
                                            {% else %}
                                                <div class="flex-none ml-2 rounded-full p-1 text-gray-400 bg-gray-400/20">
                                                    <div class="h-2 w-2 rounded-full bg-current"></div>
                                                </div>
                                            {% endif %}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div x-data="{ open: true }">
                            <h3>
                                <button id="id_detail_limit"
                                        type="button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left rounded-md focus:outline-none focus:df-focus-ring-offset-white"
                                        aria-controls="id_detail_limit_content"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-sm font-medium text-gray-900"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">대여 수량 한도</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="h-6 w-6 text-gray-400 group-hover:text-gray-500 block"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500 hidden"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pb-6"
                                 id="id_detail_limit_content"
                                 x-show="open"
                                 style="display: none">
                                <div class="rounded-md bg-gray-50 p-4">
                                    <!-- <h3 class="text-sm font-medium text-gray-800">제목</h3> -->
                                    <div class="text-sm text-gray-700">
                                        <ul role="list" class="list-disc space-y-1 pl-5">
                                            {% for limit in limit_list %}
                                                <li>{{ limit.in_a_nutshell }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div x-data="{ open: false }">
                            <h3>
                                <button id="id_detail_precaution"
                                        type="button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left rounded-md focus:outline-none focus:df-focus-ring-offset-white"
                                        aria-controls="id_detail_precaution_content"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-gray-900 text-sm font-medium"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">유의 사항</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="hidden h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div id="id_detail_precaution_content" x-show="open" style="display: none">
                                <div class="rounded-md bg-flamingo-50 p-4">
                                    <!-- <h3 class="text-sm font-medium text-gray-800">제목</h3> -->
                                    <div class="text-sm text-flamingo-700">
                                        <ul role="list" class="list-disc space-y-1 pl-5">
                                            <li>개별 기자재마다 구성품 종류 및 세부 상태가 상이할 수 있어요.</li>
                                            <li>예약 확정 시 대여 기간은 연장할 수 없어요.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section aria-labelledby="options-heading">
                    <h2 id="options-heading" class="sr-only">기자재 선택</h2>
                    <div class="mt-6">
                        <button type="submit"
                                class="flex w-full items-center justify-center rounded-md bg-flamingo-600 px-3 py-3 text-sm font-semibold shadow-sm text-white hover:bg-flamingo-700 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed">
                            장바구니에 담기
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="flex flex-col-reverse mt-5 justify-end sm:items-center sm:flex sm:flex-row">
            <div class="sm:flex sm:flex-row-reverse">
                <button type="button"
                        id="id_go_to_list"
                        class="z-20 mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm sm:mt-0 sm:w-auto hover:bg-gray-50 focus:df-focus-ring-offset-gray disabled:bg-gray-50 disabled:cursor-not-allowed">
                    목록 보기
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% include "equipment/equipment_modal.html" %}
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/equipment.js' %}"></script>
{% endblock body %}
