{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block meta %}
    <meta property="og:title" content="기자재 - 디닷에프 | D-dot-f">
    <meta property="og:url" content="{% url 'equipment:equipment' %}">
    <meta name="robots" content="index,follow">
{% endblock meta %}
{% block title %}
    {{ collection.name }} - 기자재 - 디닷에프
{% endblock title %}
{% block body %}
    <!-- Hero -->
    <div class="relative sm:pt-6 lg:pt-8">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-xl overflow-hidden">
                <div class="absolute inset-0" aria-hidden="true">
                    <div class="mix-blend-multiply w-full h-full">
                        <!-- Swiper -->
                        <div class="swiper mySwiper w-full h-full">
                            <div class="swiper-wrapper">
                                {% for image in image_list|shuffle %}
                                    <div class="swiper-slide">
                                        <img class="object-cover w-full h-full grayscale"
                                             height=""
                                             width=""
                                             alt=""
                                             src="{{ image }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">기자재</h1>
                    <p class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                        카메라, 오디오 레코더 등 기자재 대여
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter and Cart -->
    <div class="mt-6 relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col sm:flex-row bg-white shadow rounded-md divide-y sm:divide-x sm:divide-y-0 divide-gray-100">
            <div class="class-filter flex sm:flex-1 relative justify-between px-4 py-4 text-sm rounded-tl-md rounded-tr-md sm:rounded-tr-none sm:rounded-bl-md hover:bg-gray-50 sm:px-6 focus:df-focus-ring-inset"
                 tabindex="0">
                <span class="absolute inset-x-0 -top-px bottom-0 cursor-pointer"></span>
                <div class="flex justify-start items-center gap-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         class="w-5 h-5">
                        <path d="M9 6a.75.75 0 01.75.75v1.5h1.5a.75.75 0 010 1.5h-1.5v1.5a.75.75 0 01-1.5 0v-1.5h-1.5a.75.75 0 010-1.5h1.5v-1.5A.75.75 0 019 6z" />
                        <path fill-rule="evenodd" d="M2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9zm7-5.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11z" clip-rule="evenodd" />
                    </svg>
                    검색 필터
                </div>
                <div class="flex justify-end gap-2">
                    {% if category.keyword != None %}
                        <span class="class-badge rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-slate-600/20">
                            <span class="sr-only">범주:</span>
                            {{ category.keyword }}
                        </span>
                    {% endif %}
                    {% if purpose.keyword != None %}
                        <span id="id_purpose_badge"
                              class="class-badge rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-slate-600/20">
                            <span class="sr-only">대여 목적:</span>
                            {{ purpose.keyword }}
                        </span>
                    {% endif %}
                    {% if period.duration != None %}
                        <span class="class-badge rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-slate-600/20">
                            <span class="sr-only">대여 기간:</span>
                            {% if period.duration == 0 %}
                                당일
                            {% else %}
                                {{ period.duration }}일
                            {% endif %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="class-view-cart flex sm:flex-1 relative justify-between px-4 py-4 text-sm hover:bg-gray-50 sm:px-6 focus:df-focus-ring-inset {% if not has_equipment_room_permission %}rounded-bl-md rounded-br-md sm:rounded-bl-none sm:rounded-tr-md{% endif %}"
                 tabindex="0">
                <span class="absolute inset-x-0 -top-px bottom-0 cursor-pointer"></span>
                <div class="flex justify-start items-center gap-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.7"
                         stroke="currentColor"
                         class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                    </svg>
                    장바구니
                </div>
                <div class="flex justify-end gap-2">
                    <span class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-slate-600/20">
                        <span class="class-total-quantity">0</span>개
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail -->
    <div class="mt-6 relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div id="id_detail"
             class="bg-white shadow rounded-md px-4 py-5 sm:px-6 lg:grid lg:grid-cols-2 lg:gap-x-8"
             data-record-id="{{ collection.record_id }}"
             data-collection-id="{{ collection.collection_id }}"
             data-thumbnail="{{ collection.thumbnail }}"
             data-name="{{ collection.name }}"
             data-category="{{ collection.category.keyword }}"
             data-subcategory="{{ collection.subcategory.keyword }}"
             data-limit-list="{{ limit_list_json }}"
             data-stock-list-length="{{ stock_list|length }}">
            <!-- Title -->
            <div id="id_detail_title"
                 class="lg:col-start-2 lg:row-start-1 sm:h-[98px] sm:z-10">
                <h2 class="text-gray-700 text-xl sm:text-2xl font-bold break-words mt-2">{{ collection.name }}</h2>
                <div class="flex justify-between items-center mt-2 h-[24px]">
                    <div class="flex items-center text-sm text-gray-500 gap-x-1">
                        <span>{{ collection.collection_id }}</span>
                        {% if collection.subcategory.keyword != None %}
                            <span>·</span>
                            <span>{{ collection.subcategory.keyword }}</span>
                        {% endif %}
                    </div>
                    <div x-data="Components.menu({ open: false })"
                         x-init="init()"
                         @keydown.escape.stop="open = false; focusButton()"
                         @click.away="onClickAway($event)"
                         class="relative ml-auto">
                        <button type="button"
                                class="-m-2 block p-2 rounded-md text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:cursor-not-allowed"
                                id="id_detail_option"
                                x-ref="button"
                                @click="onButtonClick()"
                                @keyup.space.prevent="onButtonEnter()"
                                @keydown.enter.prevent="onButtonEnter()"
                                aria-expanded="false"
                                aria-haspopup="true"
                                x-bind:aria-expanded="open.toString()"
                                @keydown.arrow-up.prevent="onArrowUp()"
                                @keydown.arrow-down.prevent="onArrowDown()">
                            <span class="sr-only">옵션 열기</span>
                            <svg class="h-5 w-5"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 aria-hidden="true">
                                <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z">
                                </path>
                            </svg>
                        </button>
                        <div x-show="open"
                             x-transition:enter="transition ease-out duration-100"
                             x-transition:enter-start="transform opacity-0 scale-95"
                             x-transition:enter-end="transform opacity-100 scale-100"
                             x-transition:leave="transition ease-in duration-75"
                             x-transition:leave-start="transform opacity-100 scale-100"
                             x-transition:leave-end="transform opacity-0 scale-95"
                             class="absolute right-0 z-10 mt-0.5 w-32 origin-top-right rounded-md bg-white py-1 shadow-md ring-1 ring-gray-900/5 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-flamingo-500"
                             x-ref="menu-items"
                             x-bind:aria-activedescendant="activeDescendant"
                             role="menu"
                             aria-orientation="vertical"
                             aria-labelledby="id_detail_option"
                             tabindex="-1"
                             @keydown.arrow-up.prevent="onArrowUp()"
                             @keydown.arrow-down.prevent="onArrowDown()"
                             @keydown.tab="open = false"
                             @keydown.enter.prevent="open = false; $event.target.children[activeIndex].click()"
                             @keyup.space.prevent="open = false; $event.target.children[activeIndex].click()"
                             style="display: none">
                            <div class="class-share block px-4 py-2 text-sm text-gray-700 cursor-pointer"
                                 x-state:on="Active"
                                 x-state:off="Not Active"
                                 :class="{ 'bg-gray-100': activeIndex === 0 }"
                                 role="menuitem"
                                 tabindex="-1"
                                 id="id_detail_share"
                                 @mouseenter="onMouseEnter($event); activeIndex = 0"
                                 @mousemove="onMouseMove($event, 0)"
                                 @mouseleave="onMouseLeave($event); activeIndex = -1"
                                 @click="open = false">공유하기</div>
                        </div>
                    </div>
                </div>
                <div class="relative mt-2">
                    <div class="absolute inset-0 flex items-center sm:items-end"
                         aria-hidden="true">
                        <div class="w-full border-t border-gray-100"></div>
                    </div>
                    <div class="relative flex justify-end min-h-[36px] sm:min-h-[18px]"></div>
                </div>
            </div>
            <!-- Thumbnail -->
            <div id="id_detail_image"
                 class="lg:col-start-1 lg:row-start-1 lg:row-span-2">
                <div class="flex justify-center items-center aspect-1 sm:pt-4 overflow-hidden rounded-lg">
                    <img src="{{ collection.thumbnail }}"
                         alt="{{ collection.name }} 사진"
                         class="max-h-[500px] max-w-[500px] h-full w-full object-cover object-center"
                         height=""
                         width="">
                </div>
            </div>
            <!-- Content -->
            <div id="id_detail_content"
                 class="pt-4 sm:mt-0 lg:col-start-2 lg:row-start-1 lg:self-start">
                <div id="id_detail_content_padding_top" class="sm:pt-[82px]"></div>
                <section aria-labelledby="details-heading">
                    <h2 id="details-heading" class="sr-only">기자재 정보</h2>
                    <div class="divide-y divide-gray-100 border-t border-t-gray-100 sm:border-t-0">
                        <div x-data="{ open: true }">
                            <h3>
                                <button id="id_detail_purpose"
                                        type="button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left rounded-md focus:outline-none focus:df-focus-ring-offset-white"
                                        aria-controls="id_detail_purpose_content"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-sm font-medium text-gray-900"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">대여 목적 제한</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="h-6 w-6 text-gray-400 group-hover:text-gray-500 block"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500 hidden"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div id="id_detail_purpose_content"
                                 class="pb-6"
                                 x-show="open"
                                 style="display: none">
                                <!-- Alert -->
                                <div id="id_cart_alert" hidden>
                                    <div class="rounded-md shadow bg-flamingo-50 p-4 mb-4">
                                        <div class="flex">
                                            <div class="flex-shrink-0">
                                                <svg class="h-5 w-5 text-flamingo-400"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20"
                                                     fill="currentColor"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <div class="ml-3">
                                                <h3 id="id_cart_alert_for_filter"
                                                    class="text-sm font-medium text-flamingo-800"
                                                    hidden>
                                                    재고 확인 및 장바구니 사용을 위해
                                                    <span id="id_open_modal_and_focus_on_purpose"
                                                          class="underline cursor-pointer rounded-md hover:text-black focus:outline-none focus:df-focus-ring-offset-flamingo"
                                                          tabindex="0">검색 필터에 대여 목적과 기간을 적용</span>하세요.
                                                </h3>
                                                {% if not unavailable_period_list|length == 0 %}
                                                    <h3 id="id_cart_alert_for_stock"
                                                        class="text-sm font-medium text-flamingo-800"
                                                        hidden>
                                                        다음 기간에는 <span id="id_selected_purpose">해당</span> 목적으로 예약 가능한 재고가 없어요.
                                                    </h3>
                                                    <div class="mt-2 text-sm text-flamingo-700">
                                                        <ul role="list" class="list-disc space-y-1 pl-5">
                                                            {% for period in unavailable_period_list %}
                                                                <li>
                                                                    <time datetime="{{ period.start_date|date:'Y-m-d' }}">{{ period.start_date|date:'Y-m-d' }}({{ period.start_weekday }})</time> ~ <time datetime="{{ period.end_date|date:'Y-m-d' }}">{{ period.end_date|date:'Y-m-d' }}({{ period.end_weekday }})</time>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% else %}
                                                    <h3 id="id_cart_alert_for_stock"
                                                        class="text-sm font-medium text-flamingo-800"
                                                        hidden>현재 예약 가능한 재고가 없어요.</h3>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="grid grid-cols-2 gap-4 sm:grid-cols-3" role="list">
                                    {% for purpose in purpose_list %}
                                        <li class="relative flex justify-between items-center h-[72px] p-4 shadow-sm rounded-md {% if purpose.priority == purpose_priority %} {% if purpose.in_stock %} df-ring-inset-flamingo {% else %} df-ring-inset-dark-gray {% endif %} {% else %} df-ring-inset-gray {% endif %}">
                                            <span class="flex flex-col space-y-1">
                                                <div class="flex items-center">
                                                    <span class="block text-sm font-medium text-gray-900">{{ purpose.keyword }}</span>
                                                </div>
                                                <div class="flex items-center text-sm text-gray-500">
                                                    {% if purpose.permitted %}
                                                        {% if not "period" in request.get_full_path %}
                                                            대여 허용
                                                        {% else %}
                                                            {% if purpose.in_stock %}
                                                                {% if purpose.priority == purpose_priority %}
                                                                    재고 {{ stock_list|length }}개
                                                                {% else %}
                                                                    재고 있음
                                                                {% endif %}
                                                            {% else %}
                                                                재고 없음
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        대여 제한
                                                    {% endif %}
                                                </div>
                                            </span>
                                            {% if purpose.priority == purpose_priority %}
                                                <div class="flex-none">
                                                    <span class="sr-only">선택된 대여 목적</span>
                                                    <svg class="h-5 w-5 ml-1 {% if purpose.in_stock %} text-flamingo {% else %} text-gray-600 {% endif %}"
                                                         viewBox="0 0 16 20"
                                                         fill="currentColor"
                                                         aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                            {% elif purpose.permitted %}
                                                {% if not "period" in request.get_full_path %}
                                                    <div class="flex-none ml-2 rounded-full p-1 text-flamingo-400 bg-flamingo-400/20">
                                                        <div class="h-2 w-2 rounded-full bg-current"></div>
                                                    </div>
                                                {% else %}
                                                    {% if purpose.in_stock %}
                                                        <div class="flex-none ml-2 rounded-full p-1 text-flamingo-400 bg-flamingo-400/20">
                                                            <div class="h-2 w-2 rounded-full bg-current"></div>
                                                        </div>
                                                    {% else %}
                                                        <div class="flex-none ml-2 rounded-full p-1 text-gray-400 bg-gray-400/20">
                                                            <div class="h-2 w-2 rounded-full bg-current"></div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <div class="flex-none ml-2 rounded-full p-1 text-gray-400 bg-gray-400/20">
                                                    <div class="h-2 w-2 rounded-full bg-current"></div>
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div x-data="{ open: false }">
                            <h3>
                                <button id="id_detail_limit"
                                        type="button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left rounded-md focus:outline-none focus:df-focus-ring-offset-white"
                                        aria-controls="id_detail_limit_content"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-sm font-medium text-gray-900"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">대여 수량 한도</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="h-6 w-6 text-gray-400 group-hover:text-gray-500 block"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500 hidden"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pb-6"
                                 id="id_detail_limit_content"
                                 x-show="open"
                                 style="display: none">
                                <div class="rounded-md bg-gray-50 p-4">
                                    <div class="text-sm text-gray-700">
                                        <ul role="list" class="list-disc space-y-1 pl-5">
                                            {% for limit in limit_list %}
                                                <li>{{ limit.in_a_nutshell }}</li>
                                            {% empty %}
                                                <li>대여 수량 한도가 없어요.</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div x-data="{ open: false }">
                            <h3>
                                <button id="id_detail_precaution"
                                        type="button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left rounded-md focus:outline-none focus:df-focus-ring-offset-white"
                                        aria-controls="id_detail_precaution_content"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-gray-900 text-sm font-medium"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">대여 관련 안내사항</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="hidden h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div id="id_detail_precaution_content" x-show="open" style="display: none">
                                <div class="rounded-md bg-gray-50 p-4">
                                    <div class="text-sm text-gray-700">
                                        <ul role="list" class="list-disc space-y-1 pl-5">
                                            <li>
                                                기자재의 실제 구성품 및 세부 상태는 <span class="inline sm:hidden">상단</span><span class="hidden sm:inline">좌측</span> 이미지와 다를 수 있어요.
                                            </li>
                                            <li>예약 확정 시 대여 목적 및 기간, 기자재 등 세부사항을 변경할 수 없어요.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section aria-labelledby="options-heading">
                    <h2 id="options-heading" class="sr-only">기자재 선택</h2>
                    <div class="flex items-center justify-between mt-6 sm:mb-3">
                        {% if not stock_list %}
                            <div class="mr-4">
                                <div class="isolate inline-flex rounded-md shadow-sm h-11">
                                    <button id="id_decrease_quantity"
                                            type="button"
                                            class="relative -mr-px inline-flex items-center rounded-l-md bg-white px-2 py-2 text-gray-400 df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 hover:bg-gray-50 disabled:bg-gray-100 disabled:cursor-not-allowed disabled:hover:bg-gray-100"
                                            disabled>
                                        <span class="sr-only">수량 1개 줄이기</span>
                                        <svg class="h-5 w-5"
                                             viewBox="0 0 20 20"
                                             fill="currentColor"
                                             aria-hidden="true">
                                            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                    <div class="inline-flex">
                                        <label for="id_requested_quantity" class="sr-only">대여 수량</label>
                                        <input type="text"
                                               id="id_requested_quantity"
                                               class="only-number h-11 w-11 block border-0 py-1.5 text-center text-gray-900 df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 focus:placeholder:text-transparent hover:bg-gray-50 read-only:bg-gray-100 read-only:cursor-not-allowed read-only:focus:df-ring-inset-gray read-only:focus:placeholder:text-gray-400 read-only:hover:bg-gray-100 placeholder:text-gray-400"
                                               value="0"
                                               placeholder="0"
                                               readonly>
                                    </div>
                                    <button id="id_increase_quantity"
                                            type="button"
                                            class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 hover:bg-gray-50 disabled:bg-gray-100 disabled:cursor-not-allowed disabled:hover:bg-gray-100"
                                            disabled>
                                        <span class="sr-only">수량 1개 늘리기</span>
                                        <svg class="h-5 w-5"
                                             viewBox="0 0 20 20"
                                             fill="currentColor"
                                             aria-hidden="true">
                                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <button id="id_add_to_cart"
                                    class="flex w-full items-center justify-center rounded-md bg-flamingo-600 px-3 py-3 text-sm font-semibold shadow-sm text-white hover:bg-flamingo-700 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed"
                                    disabled>장바구니 담기</button>
                        {% else %}
                            <div class="mr-4">
                                <div class="isolate inline-flex rounded-md shadow-sm h-11">
                                    <button id="id_decrease_quantity"
                                            type="button"
                                            class="relative -mr-px inline-flex items-center rounded-l-md bg-white px-2 py-2 text-gray-400 df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 hover:bg-gray-50 disabled:bg-gray-100 disabled:cursor-not-allowed disabled:hover:bg-gray-100">
                                        <span class="sr-only">수량 1개 줄이기</span>
                                        <svg class="h-5 w-5"
                                             viewBox="0 0 20 20"
                                             fill="currentColor"
                                             aria-hidden="true">
                                            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                    <div class="inline-flex">
                                        <label for="id_requested_quantity" class="sr-only">대여 수량</label>
                                        <input type="text"
                                               id="id_requested_quantity"
                                               class="only-number h-11 w-11 block border-0 py-1.5 text-center text-gray-900 df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 focus:placeholder:text-transparent hover:bg-gray-50 read-only:bg-gray-100 read-only:cursor-not-allowed read-only:hover:bg-gray-100 placeholder:text-gray-400"
                                               value="1"
                                               max=""
                                               placeholder="0">
                                    </div>
                                    <button id="id_increase_quantity"
                                            type="button"
                                            class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 hover:bg-gray-50 disabled:bg-gray-100 disabled:cursor-not-allowed disabled:hover:bg-gray-100">
                                        <span class="sr-only">수량 1개 늘리기</span>
                                        <svg class="h-5 w-5"
                                             viewBox="0 0 20 20"
                                             fill="currentColor"
                                             aria-hidden="true">
                                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <button id="id_add_to_cart"
                                    class="class-add-to-cart flex w-full items-center justify-center rounded-md bg-flamingo-600 px-3 py-3 text-sm font-semibold shadow-sm text-white hover:bg-flamingo-700 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed">
                                <svg class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     id="id_add_to_cart_spin">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                                장바구니 담기
                            </button>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
        <div class="flex flex-col-reverse mt-5 justify-end sm:items-center sm:flex sm:flex-row">
            <div class="sm:flex sm:flex-row-reverse">
                <button type="button"
                        id="id_back_to_list"
                        class="z-20 mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm sm:mt-0 sm:w-auto hover:bg-gray-50 focus:df-focus-ring-offset-gray disabled:bg-gray-50 disabled:cursor-not-allowed">
                    목록 보기
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% include "equipment/equipment_modal.html" %}
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/equipment.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
{% endblock body %}
