
{% load tags %}
<div id="id_equipment_modal"
     x-data="{ open: false }"
     @keydown.window.escape="if (id_filter_equipment_descr.hidden) { open = false }"
     x-show="open"
     class="relative z-20"
     aria-labelledby="modal-title"
     x-ref="dialog"
     aria-modal="true"
     hidden>
    <div x-show="open"
         x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div x-show="open"
                 x-transition:enter="ease-out duration-300"
                 x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave="ease-in duration-200"
                 x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
                 @click.away="open = true">
                <div class="absolute right-0 top-0 pr-4 pt-5 sm:pr-5 block">
                    <button type="button"
                            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:cursor-not-allowed"
                            @click="open = false; enableFocus(); modalOpen = false; preventGoBack()">
                        <span class="sr-only">검색 필터 화면 닫기</span>
                        <svg class="h-6 w-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex items-start flex-col">
                    <div class="flex mb-5">
                        <div class="mt-0 text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900">검색 필터</h3>
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col justify-between">
                        <div class="space-y-5">
                            <fieldset>
                                <legend class="text-sm font-medium leading-6 text-gray-900">범주</legend>
                                <div class="mt-2 grid grid-cols-2 gap-4 sm:grid-cols-3">
                                    {% for category in category_list %}
                                        <label class="relative flex items-center cursor-pointer h-[72px] sm:w-[144px] p-4 shadow-sm rounded-md df-ring-inset-gray hover:bg-gray-50">
                                            <input type="radio"
                                                   id="id_category_{{ category.priority }}"
                                                   name="id_category"
                                                   value="{{ category.priority }}"
                                                   class="sr-only radio"
                                                   aria-labelledby="id_category_{{ category.priority }}_label">
                                            <span class="flex flex-1">
                                                <span id="id_category_{{ category.priority }}_label"
                                                      class="radio-title block whitespace-pre-line text-sm font-medium text-gray-900">{{ category.keyword|replace_space_with_newline }}</span>
                                            </span>
                                            <svg class="h-5 w-5 ml-2 text-flamingo"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                            </svg>
                                            <span class="pointer-events-none absolute -inset-px rounded-md"
                                                  aria-hidden="true"></span>
                                        </label>
                                    {% endfor %}
                                </div>
                                <label for="id_category" hidden>범주</label>
                                <input type="text"
                                       id="id_category"
                                       class="alt-radio"
                                       value="{{ category.priority }}"
                                       required
                                       hidden>
                            </fieldset>
                            <fieldset>
                                <legend class="text-sm font-medium leading-6 text-gray-900">목적</legend>
                                <div class="mt-2 grid grid-cols-2 gap-4 sm:grid-cols-3">
                                    {% for policy in policy_list %}
                                        <label class="relative flex items-center cursor-pointer h-[72px] sm:w-[144px] p-4 shadow-sm rounded-md df-ring-inset-gray hover:bg-gray-50">
                                            <input type="radio"
                                                   id="id_policy_{{ policy.priority }}"
                                                   name="id_policy"
                                                   value="{{ policy.priority }}"
                                                   class="sr-only radio"
                                                   aria-labelledby="id_policy_{{ policy.priority }}_label">
                                            <span class="flex flex-1">
                                                <span id="id_policy_{{ policy.priority }}_label"
                                                      class="radio-title block whitespace-pre-line text-sm font-medium text-gray-900">{{ policy.keyword|replace_space_with_newline }}</span>
                                            </span>
                                            <svg class="h-5 w-5 ml-2 text-flamingo"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                            </svg>
                                            <span class="pointer-events-none absolute -inset-px rounded-md"
                                                  aria-hidden="true"></span>
                                        </label>
                                    {% endfor %}
                                </div>
                                <label for="id_policy" hidden>목적</label>
                                <input type="text"
                                       id="id_policy"
                                       class="alt-radio"
                                       value="{{ policy.priority }}"
                                       required
                                       hidden>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                    <div class="flex mt-2 text-sm sm:mt-0">
                        <p class="text-gray-500 sm:mt-0" id="id_filter_equipment_descr" hidden>잠시만 기다려주세요.</p>
                    </div>
                    <div class="sm:flex sm:flex-row-reverse">
                        <button type="button"
                                id="id_filter_equipment"
                                class="inline-flex w-full justify-center rounded-md bg-flamingo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-flamingo-700 sm:ml-3 sm:w-auto disabled:opacity-75 focus:df-focus-ring-offset-white disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed">
                            <svg class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 id="id_filter_equipment_spin">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                            적용하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
