{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block meta %}
    <meta property="og:title" content="기자재 - 디닷에프 | D-dot-f">
    <meta property="og:url" content="{% url 'equipment:equipment' %}">
    <meta name="robots" content="index,follow">
{% endblock meta %}
{% block title %}
    {{ equipment.name }} - 기자재 - 디닷에프
{% endblock title %}
{% block body %}
    <!-- Hero -->
    <div class="relative sm:pt-6 lg:pt-8">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-xl overflow-hidden">
                <div class="absolute inset-0" aria-hidden="true">
                    <div class="mix-blend-multiply w-full h-full">
                        <!-- Swiper -->
                        <div class="swiper mySwiper w-full h-full">
                            <div class="swiper-wrapper">
                                {% for image in image_list|shuffle %}
                                    <div class="swiper-slide">
                                        <img class="object-cover w-full h-full grayscale"
                                             height=""
                                             width=""
                                             alt=""
                                             src="{{ image }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">기자재</h1>
                    <p class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                        카메라, 오디오 레코더 등 기자재 대여
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail -->
    <div class="mt-6 relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!-- Detail body -->
        <div id="id_equipment_detail"
             class="bg-white shadow rounded-md px-4 py-5 sm:px-6 lg:grid lg:grid-cols-2 lg:gap-x-8">
            <!-- Product details -->
            <div class="lg:col-start-2 lg:row-start-1">
                <p class="inline-block rounded-md whitespace-nowrap px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-slate-600/20">
                    {{ equipment.category }}
                </p>
                <h2 class="text-gray-700 text-xl sm:text-2xl font-bold break-words mt-2">{{ equipment.name }}</h2>
                <div class="flex justify-between items-center mt-3 h-[24px]">
                    <div class="flex items-center text-sm text-gray-500 gap-x-1">
                        {% if equipment.subcategory != None %}
                            <span>{{ equipment.subcategory }}</span>
                            <span>·</span>
                        {% endif %}
                        <span>{{ equipment.collection_id }}</span>
                    </div>
                    <div x-data="Components.menu({ open: false })"
                         x-init="init()"
                         @keydown.escape.stop="open = false; focusButton()"
                         @click.away="onClickAway($event)"
                         class="relative ml-auto">
                        <button type="button"
                                class="-m-2 block p-2 rounded-md text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white"
                                id="id_equipment_detail_option_button"
                                x-ref="button"
                                @click="onButtonClick()"
                                @keyup.space.prevent="onButtonEnter()"
                                @keydown.enter.prevent="onButtonEnter()"
                                aria-expanded="false"
                                aria-haspopup="true"
                                x-bind:aria-expanded="open.toString()"
                                @keydown.arrow-up.prevent="onArrowUp()"
                                @keydown.arrow-down.prevent="onArrowDown()">
                            <span class="sr-only">옵션 열기</span>
                            <svg class="h-5 w-5"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 aria-hidden="true">
                                <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z">
                                </path>
                            </svg>
                        </button>
                        <div x-show="open"
                             x-transition:enter="transition ease-out duration-100"
                             x-transition:enter-start="transform opacity-0 scale-95"
                             x-transition:enter-end="transform opacity-100 scale-100"
                             x-transition:leave="transition ease-in duration-75"
                             x-transition:leave-start="transform opacity-100 scale-100"
                             x-transition:leave-end="transform opacity-0 scale-95"
                             class="absolute right-0 z-10 mt-0.5 w-32 origin-top-right rounded-md bg-white py-1 shadow-md ring-1 ring-gray-900/5 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-flamingo-500"
                             x-ref="menu-items"
                             x-description="Dropdown menu, show/hide based on menu state."
                             x-bind:aria-activedescendant="activeDescendant"
                             role="menu"
                             aria-orientation="vertical"
                             aria-labelledby="id_equipment_detail_option_button"
                             tabindex="-1"
                             id="id_equipment_detail_option_menu"
                             @keydown.arrow-up.prevent="onArrowUp()"
                             @keydown.arrow-down.prevent="onArrowDown()"
                             @keydown.tab="open = false"
                             @keydown.enter.prevent="open = false; $event.target.children[activeIndex].click(); if (activeIndex === 1) { setTimeout(() => { freezeCkEditor() }, 0.00001) }"
                             @keyup.space.prevent="open = false; $event.target.children[activeIndex].click(); if (activeIndex === 1) { setTimeout(() => { freezeCkEditor() }, 0.00001) }"
                             style="display: none">
                            <div class="class-share block px-4 py-2 text-sm text-gray-700 cursor-pointer"
                                 x-state:on="Active"
                                 x-state:off="Not Active"
                                 :class="{ 'bg-gray-100': activeIndex === 0 }"
                                 role="menuitem"
                                 tabindex="-1"
                                 id="id_equipment_detail_share"
                                 @mouseenter="onMouseEnter($event); activeIndex = 0"
                                 @mousemove="onMouseMove($event, 0)"
                                 @mouseleave="onMouseLeave($event); activeIndex = -1"
                                 @click="open = false">공유하기</div>
                        </div>
                    </div>
                </div>
                <div class="relative mt-2">
                    <div class="absolute inset-0 flex items-center sm:items-end"
                         aria-hidden="true">
                        <div class="w-full border-t border-gray-100"></div>
                    </div>
                    <div class="relative flex justify-end min-h-[36px] sm:min-h-[18px]"></div>
                </div>
            </div>
            <!-- Product image -->
            <div class="lg:col-start-1 lg:row-start-1 lg:row-span-2">
                <div class="flex justify-center items-center aspect-1 sm:pt-4 overflow-hidden rounded-lg">
                    <img src="{{ equipment.thumbnail }}"
                         alt="{{ equipment.name }} 사진"
                         class="max-h-[500px] max-w-[500px] h-full w-full object-cover object-center"
                         height=""
                         width="">
                </div>
            </div>
            <!-- Product form -->
            <div class="mt-4 sm:mt-0 lg:col-start-2 lg:row-start-2 lg:self-start">
                <section aria-labelledby="details-heading">
                    <h2 id="details-heading" class="sr-only">기자재 정보</h2>
                    <div class="divide-y divide-gray-100 border-t border-t-gray-100 sm:border-t-0">
                        <div x-data="{ open: true }">
                            <h3>
                                <button type="button"
                                        x-description="Expand/collapse question button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left"
                                        aria-controls="disclosure-1"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-sm font-medium text-gray-900"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">대여 목적</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="h-6 w-6 text-gray-400 group-hover:text-gray-500 block"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500 hidden"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pb-6" id="disclosure-1" x-show="open" style="display: none">
                                <div class="rounded-md">
                                    <!-- <h3 class="text-sm font-medium text-gray-800">제목</h3> -->
                                    <div class="text-sm text-gray-700">
                                        <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                                            {% for purpose in purpose_list %}
                                                <div class="relative flex items-center cursor-pointer p-4 shadow-sm rounded-md df-ring-inset-gray hover:bg-gray-50">
                                                    <div class="min-w-0 flex-1">
                                                        <a href="#" class="focus:outline-none">
                                                            <span class="absolute inset-0" aria-hidden="true"></span>
                                                            <p class="text-sm font-medium text-gray-900">{{ purpose.keyword }}</p>
                                                            <p class="truncate text-sm text-gray-500">
                                                                {% if purpose.available %}
                                                                    대여 가능
                                                                {% elif not purpose.available %}
                                                                    대여 불가
                                                                {% endif %}
                                                            </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                                <div class="min-w-0 flex-1">
                                                    <a href="#" class="focus:outline-none">
                                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                                        <p class="text-sm font-medium text-gray-900">Leslie Alexander</p>
                                                        <p class="truncate text-sm text-gray-500">Co-Founder / CEO</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                                <div class="min-w-0 flex-1">
                                                    <a href="#" class="focus:outline-none">
                                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                                        <p class="text-sm font-medium text-gray-900">Michael Foster</p>
                                                        <p class="truncate text-sm text-gray-500">Co-Founder / CTO</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                                <div class="min-w-0 flex-1">
                                                    <a href="#" class="focus:outline-none">
                                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                                        <p class="text-sm font-medium text-gray-900">Dries Vincent</p>
                                                        <p class="truncate text-sm text-gray-500">Business Relations</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                                <div class="min-w-0 flex-1">
                                                    <a href="#" class="focus:outline-none">
                                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                                        <p class="text-sm font-medium text-gray-900">Lindsay Walton</p>
                                                        <p class="truncate text-sm text-gray-500">Front-end Developer</p>
                                                    </a>
                                                </div>
                                            </div> -->
                                        </div>
                                        <!-- <ul role="list" class="list-disc space-y-1 pl-5">
                                                    {% for purpose in equipment.matched_purpose_list %}<li>{{ purpose }}</li>{% endfor %}
                                                </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div x-data="{ open: false }">
                            <h3>
                                <button type="button"
                                        x-description="Expand/collapse question button"
                                        class="group relative flex w-full items-center justify-between py-6 text-left"
                                        aria-controls="disclosure-1"
                                        @click="open = !open"
                                        aria-expanded="false"
                                        x-bind:aria-expanded="open.toString()">
                                    <span class="text-gray-900 text-sm font-medium"
                                          x-state:on="Open"
                                          x-state:off="Closed"
                                          :class="{ 'text-flamingo-600': open, 'text-gray-900': !(open) }">유의 사항</span>
                                    <span class="ml-6 flex items-center">
                                        <svg class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'hidden': open, 'block': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                                        </svg>
                                        <svg class="hidden h-6 w-6 text-flamingo-400 group-hover:text-flamingo-500"
                                             x-state:on="Open"
                                             x-state:off="Closed"
                                             :class="{ 'block': open, 'hidden': !(open) }"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                                        </svg>
                                    </span>
                                </button>
                            </h3>
                            <div class="pb-6" id="disclosure-1" x-show="open" style="display: none">
                                <div class="rounded-md bg-gray-50 p-4">
                                    <div class="flex">
                                        <div>
                                            <!-- <h3 class="text-sm font-medium text-gray-800">제목</h3> -->
                                            <div class="text-sm text-gray-700">
                                                <ul role="list" class="list-disc space-y-1 pl-5">
                                                    <li>개별 기자재마다 구성품 종류 및 세부 상태가 상이할 수 있어요.</li>
                                                    <li>예약 확정 시 대여 기간은 연장할 수 없어요.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section aria-labelledby="options-heading">
                    <h2 id="options-heading" class="sr-only">Product options</h2>
                    <form>
                        <div class="sm:flex sm:justify-between">
                            <!-- Size selector -->
                            <fieldset x-data="window.Components.radioGroup({ initialCheckedIndex: 0 })"
                                      x-init="init()">
                                <legend class="block text-sm font-medium text-gray-700">Size</legend>
                                <div class="mt-1 grid grid-cols-1 gap-4 sm:grid-cols-2">
                                    <div x-radio-group-option=""
                                         class="relative block cursor-pointer rounded-lg border border-gray-300 p-4 focus:outline-none undefined"
                                         x-description="Active: &quot;ring-2 ring-flamingo-500&quot;"
                                         :class="{ 'ring-2 ring-flamingo-500': (active === '18L'), 'undefined': !(active === '18L') }">
                                        <input type="radio"
                                               x-model="value"
                                               name="size-choice"
                                               value="18L"
                                               class="sr-only"
                                               aria-labelledby="size-choice-0-label"
                                               aria-describedby="size-choice-0-description">
                                        <p id="size-choice-0-label" class="text-base font-medium text-gray-900">18L</p>
                                        <p id="size-choice-0-description" class="mt-1 text-sm text-gray-500">Perfect for a reasonable amount of snacks.</p>
                                        <div class="pointer-events-none absolute -inset-px rounded-lg border-2 border-flamingo-500"
                                             aria-hidden="true"
                                             x-description="Active: &quot;border&quot;, Not Active: &quot;border-2&quot;	Checked: &quot;border-flamingo-500&quot;, Not Checked: &quot;border-transparent&quot;"
                                             :class="{ 'border': (active === '18L'), 'border-2': !(active === '18L'), 'border-flamingo-500': (value === '18L'), 'border-transparent': !(value === '18L') }">
                                        </div>
                                    </div>
                                    <div x-radio-group-option=""
                                         class="relative block cursor-pointer rounded-lg border border-gray-300 p-4 focus:outline-none undefined"
                                         x-description="Active: &quot;ring-2 ring-flamingo-500&quot;"
                                         :class="{ 'ring-2 ring-flamingo-500': (active === '20L'), 'undefined': !(active === '20L') }">
                                        <input type="radio"
                                               x-model="value"
                                               name="size-choice"
                                               value="20L"
                                               class="sr-only"
                                               aria-labelledby="size-choice-1-label"
                                               aria-describedby="size-choice-1-description">
                                        <p id="size-choice-1-label" class="text-base font-medium text-gray-900">20L</p>
                                        <p id="size-choice-1-description" class="mt-1 text-sm text-gray-500">Enough room for a serious amount of snacks.</p>
                                        <div class="pointer-events-none absolute -inset-px rounded-lg border-2 border-transparent"
                                             aria-hidden="true"
                                             x-description="Active: &quot;border&quot;, Not Active: &quot;border-2&quot;	Checked: &quot;border-flamingo-500&quot;, Not Checked: &quot;border-transparent&quot;"
                                             :class="{ 'border': (active === '20L'), 'border-2': !(active === '20L'), 'border-flamingo-500': (value === '20L'), 'border-transparent': !(value === '20L') }">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="mt-4">
                            <a href="#"
                               class="group inline-flex text-sm text-gray-500 hover:text-gray-700">
                                <span>What size should I buy?</span>
                                <svg class="ml-2 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                                     viewBox="0 0 20 20"
                                     fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        <div class="mt-10">
                            <button type="submit"
                                    class="flex w-full items-center justify-center rounded-md border border-transparent bg-flamingo-600 px-8 py-3 text-base font-medium text-white hover:bg-flamingo-700 focus:outline-none focus:ring-2 focus:ring-flamingo-500 focus:ring-offset-2 focus:ring-offset-gray-50">
                                Add to bag
                            </button>
                        </div>
                        <div class="mt-6 text-center">
                            <a href="#" class="group inline-flex text-base font-medium">
                                <svg class="mr-2 h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z">
                                    </path>
                                </svg>
                                <span class="text-gray-500 hover:text-gray-700">Lifetime Guarantee</span>
                            </a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <span id="id_equipment_data"
              data-equipment-record-id="{{ equipment.record_id }}"
              data-equipment-collection-id="{{ equipment.collection_id }}"
              data-equipment-thumbnail="{{ equipment.thumbnail }}"
              data-equipment-name="{{ equipment.name }}"
              data-equipment-category="{{ equipment.category }}"
              data-equipment-subcategory="{{ equipment.subcategory }}"
              hidden></span>
        <!-- Detail footer -->
        <div class="flex flex-col-reverse mt-5 justify-end sm:items-center sm:flex sm:flex-row">
            <div class="sm:flex sm:flex-row-reverse">
                <button type="button"
                        id="id_go_to_list"
                        class="z-20 mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm sm:mt-0 sm:w-auto hover:bg-gray-50 focus:df-focus-ring-offset-gray disabled:bg-gray-50 disabled:cursor-not-allowed">
                    목록 보기
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% include "equipment/equipment_modal.html" %}
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/equipment.js' %}"></script>
{% endblock body %}
