{% load socialaccount %}
<div class="mt-8 px-4 sm:px-0 mx-auto w-full max-w-md">
    <div class="bg-white py-8 px-4 shadow rounded-md sm:px-10">
        <div class="space-y-5">
            <div>
                <a href="{% provider_login_url 'google' process=process scope=scope auth_params=auth_params %}"
                    class="w-full inline-flex justify-center py-2 px-4 rounded-md shadow-sm border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                    id="login_google">
                    <svg class="w-5 h-5" viewBox="0 0 43 44" aria-hidden="true">
                        <defs>
                            <style>
                                .h {
                                    fill: #4285f4;
                                }

                                .i {
                                    fill: #fbbc05;
                                }

                                .j {
                                    clip-path: url(#e);
                                }

                                .k {
                                    clip-path: url(#d);
                                }

                                .l {
                                    fill: none;
                                }

                                .m {
                                    fill: #34a853;
                                }

                                .n {
                                    clip-path: url(#f);
                                }

                                .o {
                                    fill: #ea4335;
                                }

                                .p {
                                    clip-path: url(#g);
                                }
                            </style>
                            <clipPath id="d">
                                <path class="l"
                                    d="M42.5,18H22v8.5h11.8c-1.1,5.4-5.7,8.5-11.8,8.5-7.2,0-13-5.8-13-13s5.8-13,13-13c3.1,0,5.9,1.1,8.1,2.9l6.4-6.4C32.6,2.1,27.6,0,22,0,9.8,0,0,9.8,0,22s9.8,22,22,22c11,0,21-8,21-22,0-1.3-.2-2.7-.5-4Z" />
                            </clipPath>
                            <clipPath id="e">
                                <path class="l"
                                    d="M42.5,18H22v8.5h11.8c-1.1,5.4-5.7,8.5-11.8,8.5-7.2,0-13-5.8-13-13s5.8-13,13-13c3.1,0,5.9,1.1,8.1,2.9l6.4-6.4C32.6,2.1,27.6,0,22,0,9.8,0,0,9.8,0,22s9.8,22,22,22c11,0,21-8,21-22,0-1.3-.2-2.7-.5-4Z" />
                            </clipPath>
                            <clipPath id="f">
                                <path class="l"
                                    d="M42.5,18H22v8.5h11.8c-1.1,5.4-5.7,8.5-11.8,8.5-7.2,0-13-5.8-13-13s5.8-13,13-13c3.1,0,5.9,1.1,8.1,2.9l6.4-6.4C32.6,2.1,27.6,0,22,0,9.8,0,0,9.8,0,22s9.8,22,22,22c11,0,21-8,21-22,0-1.3-.2-2.7-.5-4Z" />
                            </clipPath>
                            <clipPath id="g">
                                <path class="l"
                                    d="M42.5,18H22v8.5h11.8c-1.1,5.4-5.7,8.5-11.8,8.5-7.2,0-13-5.8-13-13s5.8-13,13-13c3.1,0,5.9,1.1,8.1,2.9l6.4-6.4C32.6,2.1,27.6,0,22,0,9.8,0,0,9.8,0,22s9.8,22,22,22c11,0,21-8,21-22,0-1.3-.2-2.7-.5-4Z" />
                            </clipPath>
                        </defs>
                        <g id="a" />
                        <g id="b">
                            <g id="c">
                                <g class="k">
                                    <path class="i" d="M-2,35V9L15,22-2,35Z" />
                                </g>
                                <g class="j">
                                    <path class="o" d="M-2,9L15,22l7-6.1,24-3.9V-2H-2V9Z" />
                                </g>
                                <g class="n">
                                    <path class="m" d="M-2,35L28,12l7.9,1L46-2V46H-2v-11Z" />
                                </g>
                                <g class="p">
                                    <path class="h" d="M46,46L15,22l-4-3L46,9V46Z" />
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p class="ml-2">Google로 로그인</p>
                </a>
            </div>
            <div>
                <a href="{% provider_login_url 'kakao' %}"
                    class="w-full inline-flex justify-center py-2 px-4 rounded-md shadow-sm border border-transparent bg-[#FEE500] text-sm font-medium text-black hover:bg-[#F0D800]">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 386.1 354.68" aria-hidden="true">
                        <g id="a" />
                        <g id="b">
                            <g id="c">
                                <path
                                    d="M193,0C86.4,0,0,68.3,0,152.6c0,54.9,36.6,102.9,91.6,129.8-4,15.1-14.6,54.6-16.7,63.1-2.6,10.5,3.9,10.4,8.1,7.5,3.3-2.2,52.9-35.9,74.3-50.5,11.6,1.7,23.6,2.6,35.8,2.6,106.6,0,193-68.3,193-152.6,0-84.2-86.5-152.5-193.1-152.5" />
                            </g>
                        </g>
                    </svg>
                    <span class="ml-2">카카오로 로그인</span>
                </a>
            </div>
            <div>
                <a href="{% provider_login_url 'naver' %}"
                    class="w-full inline-flex justify-center py-2 px-4 rounded-md shadow-sm border border-transparent bg-[#03C75A] text-sm font-medium text-white hover:bg-[#03BA54]">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 15.33 15.2" aria-hidden="true">
                        <defs>
                        </defs>
                        <g id="a" />
                        <g id="b">
                            <g id="c">
                                <polygon class="d"
                                    points="10.39 8.14 4.71 0 0 0 0 15.2 4.94 15.2 4.94 7.06 10.62 15.2 15.33 15.2 15.33 0 10.39 0 10.39 8.14" />
                            </g>
                        </g>
                    </svg>
                    <span class="ml-2">네이버로 로그인</span>
                </a>
            </div>
        </div>
    </div>
</div>