/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* D-dot-f logo */
.st0 {
    fill: #A39890;
}

.st1 {
    fill: #F15922;
}

/* change bg color */
@keyframes pulseBg {
    0% {
        background-color: #FBE9E3;
    }

    50% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #FBE9E3;
    }
}

.animate-pulse-bg {
    animation: pulseBg 2s infinite;
}

/* blink once */
@keyframes blink {
    0% {
        color: inherit;
    }

    10%,
    90% {
        color: #F15922;
    }

    100% {
        color: inherit;
    }
}

.blink {
    animation: blink 3s ease;
    animation-iteration-count: 1;
}