/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* For D-dot-f logo */
.st0 {
    fill: #A39890;
}

.st1 {
    fill: #F15922;
}

/* For change bg color */
@keyframes pulseBg {
    0% { background-color: #FFFFFF; }
    50% { background-color: #fdf1ed; }
    100% { background-color: #FFFFFF; }
}

.animate-pulse-bg {
    animation: pulseBg 3s infinite;
}