/* For Webkit-based browsers (Chrome, Safari and Opera) */
/* .scrollbar-hide::-webkit-scrollbar {
    display: none;
} */

/* For IE, Edge and Firefox */
/* .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

/* D-dot-f logo */
.st0 {
    fill: #A39890;
}

.st1 {
    fill: #F15922;
}

/* change bg color */
@keyframes pulseBg {
    0% {
        background-color: #FBE9E3;
    }

    50% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #FBE9E3;
    }
}

.animate-pulse-bg {
    animation: pulseBg 2s infinite;
}

/* fade in and out */
@keyframes fade {
    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade {
    animation: fade 3s ease;
}

/* blink once */
@keyframes blink {
    0% {
        color: inherit;
    }

    10%,
    90% {
        color: #F15922;
    }

    100% {
        color: inherit;
    }
}

.blink {
    animation: blink 3s ease;
    animation-iteration-count: 1;
}

/* blink ring once */
@keyframes blinkRing {
    0% {
        --tw-ring-color: inherit;
    }

    10%,
    90% {
        --tw-ring-color: rgb(241 89 34 / var(--tw-ring-opacity));
    }

    100% {
        --tw-ring-color: inherit;
    }
}

.blink-ring {
    animation: blinkRing 3s ease;
    animation-iteration-count: 1;
}

/* text */
.text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}