{% load static %}
<div id="id_modal"
     x-data="{ open: false }"
     @keydown.window.escape="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
     x-show="open"
     class="relative z-20"
     aria-labelledby="id_modal_title"
     x-ref="dialog"
     aria-modal="true"
     hidden>
    <div x-show="open"
         x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div x-show="open"
                 x-transition:enter="ease-out duration-300"
                 x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave="ease-in duration-200"
                 x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 class="w-full relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:max-w-lg sm:p-6"
                 @click.away="open = true">
                <div class="absolute right-0 top-0 pr-4 pt-5 sm:pr-5 block">
                    <button id="id_close_modal"
                            type="button"
                            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:cursor-not-allowed"
                            @click="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keydown.enter.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keyup.space.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }">
                        <span class="sr-only">프로젝트 <span class="class-keyword">등록하기</span> 화면 닫기</span>
                        <svg class="h-6 w-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col">
                    <div class="flex mb-5">
                        <div class="mt-0 text-left">
                            <h3 id="id_modal_title"
                                class="text-base font-semibold leading-6 text-gray-900">
                                프로젝트 <span class="class-keyword">등록하기</span>
                            </h3>
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col justify-between">
                        {% if user.is_authenticated %}
                            <div class="space-y-5">
                                <input id="id_record_id" value="" hidden>
                                <div>
                                    <label for="id_title"
                                           class="flex-1 text-sm font-medium leading-6 text-gray-900">작품 제목</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               id="id_title"
                                               class="class-first class-film space-allowed block w-full rounded-md py-1.5 text-gray-900 shadow-sm leading-6 df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset text-sm read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                               placeholder=""
                                               required>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_title_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_title_error" hidden></p>
                                </div>
                                <input id="id_original_title" value="" hidden>
                                <div x-data="Components.listbox({ modelName: 'selected', open: false, selectedIndex: 0, activeIndex: 0, items: [ { 'record_id': '', 'priority': '', 'keyword': '유형을 선택하세요.', 'in_a_nutshell': '' },
                                    {% for purpose in purpose_list %}
                                        { 'record_id': '{{ purpose.record_id }}', 'priority': '{{ purpose.priority }}', 'keyword': '{{ purpose.keyword }}', 'in_a_nutshell': '{{ purpose.in_a_nutshell }}' }
                                        {% if not forloop.last %},&nbsp;{% endif %}
                                    {% endfor %}
                                    ] })" x-init="init()">
                                    <div class="flex justify-start items-center">
                                        <label id="id_purpose_label"
                                               for="id_purpose"
                                               class="block text-sm font-medium leading-6 text-gray-900"
                                               @click="$refs.button.focus()">유형</label>
                                    </div>
                                    <div class="relative mt-2">
                                        <button id="id_select_purpose"
                                                class="relative w-full cursor-default py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm rounded-md df-ring-inset-gray focus:df-focus-ring-inset text-sm leading-6 hover:bg-gray-50 disabled:bg-gray-100 disabled:cursor-not-allowed"
                                                type="button"
                                                x-ref="button"
                                                @keydown.arrow-up.stop.prevent="onButtonClick()"
                                                @keydown.arrow-down.stop.prevent="onButtonClick()"
                                                @click="onButtonClick()"
                                                aria-haspopup="listbox"
                                                :aria-expanded="open"
                                                aria-labelledby="id_purpose_label"
                                                aria-expanded="true">
                                            <span x-text="selected.keyword" class="block truncate"></span>
                                            <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                                                <svg class="h-5 w-5 text-gray-400"
                                                     viewBox="0 0 20 20"
                                                     fill="currentColor"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd">
                                                    </path>
                                                </svg>
                                            </span>
                                        </button>
                                        <ul id="id_purpose_list"
                                            x-show="open"
                                            x-transition:leave="transition ease-in duration-100"
                                            x-transition:leave-start="opacity-100"
                                            x-transition:leave-end="opacity-0"
                                            class="absolute z-10 mt-1 max-h-60 w-full overflow-auto divide-y divide-gray-100 rounded-md bg-white py-1 text-sm shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                            x-max="1"
                                            @click.away="open = false"
                                            @keydown.enter.stop.prevent="onOptionSelect(); executeWhenPurposeIsSelected(selected)"
                                            @keydown.space.stop.prevent="onOptionSelect(); executeWhenPurposeIsSelected(selected)"
                                            @keydown.escape="onEscape()"
                                            @keydown.arrow-up.prevent="onArrowUp()"
                                            @keydown.arrow-down.prevent="onArrowDown()"
                                            x-ref="listbox"
                                            tabindex="-1"
                                            role="listbox"
                                            aria-labelledby="id_purpose_label"
                                            :aria-activedescendant="activeDescendant"
                                            aria-activedescendant="">
                                            <li id="id_purpose_placeholder"
                                                class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900 hidden"
                                                role="option"
                                                @click="choose(0)">
                                                <span class="font-semibold block mr-4 truncate">유형을 선택하세요.</span>
                                            </li>
                                            {% for purpose in purpose_list %}
                                                <li x-state:on="Highlighted"
                                                    x-state:off="Not Highlighted"
                                                    class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900"
                                                    id="id_purpose_{{ purpose.priority }}"
                                                    role="option"
                                                    @click="choose({{ forloop.counter }}); executeWhenPurposeIsSelected(selected)"
                                                    @mouseenter="onMouseEnter($event)"
                                                    @mousemove="onMouseMove($event, {{ forloop.counter }})"
                                                    @mouseleave="onMouseLeave($event)"
                                                    :class="{ 'bg-flamingo-600 text-white': activeIndex === {{ forloop.counter }}, 'text-gray-900': !(activeIndex === {{ forloop.counter }}) }">
                                                    <span x-state:on="Selected"
                                                          x-state:off="Not Selected"
                                                          class="font-semibold block mr-4 truncate"
                                                          :class="{ 'text-white': activeIndex === {{ forloop.counter }}, 'text-flamingo-600': selectedIndex === {{ forloop.counter }} }">{{ purpose.keyword }}</span>
                                                    <span x-state:on="Highlighted"
                                                          x-state:off="Not Highlighted"
                                                          class="font-normal block mt-1 mr-2 text-gray-500"
                                                          :class="{ 'text-white': activeIndex === {{ forloop.counter }}, 'text-gray-500': !(activeIndex === {{ forloop.counter }}) }">기자재 {{ purpose.in_a_nutshell }}</span>
                                                    <span x-state:on="Highlighted"
                                                          x-state:off="Not Highlighted"
                                                          class="absolute inset-y-0 right-0 flex items-center pr-4 text-flamingo-600"
                                                          :class="{ 'text-white': activeIndex === {{ forloop.counter }}, 'text-flamingo-600': !(activeIndex === {{ forloop.counter }}) }"
                                                          x-show="selectedIndex === {{ forloop.counter }}"
                                                          style="display: none">
                                                        <svg class="h-5 w-5"
                                                             viewBox="0 0 20 20"
                                                             fill="currentColor"
                                                             aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <input id="id_purpose_record_id" type="text" value="" required hidden>
                                    <input id="id_purpose" type="text" value="" required hidden>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_purpose_error" hidden></p>
                                </div>
                                <input id="id_original_purpose" value="" hidden>
                                <fieldset>
                                    <div class="flex items-center justify-between">
                                        <legend class="text-sm font-medium leading-6 text-gray-900">교원</legend>
                                        <div id="id_target_academic_year_and_semester"
                                             class="flex justify-end items-center text-sm leading-6 text-gray-700">
                                        </div>
                                    </div>
                                    <div id="id_found_instructor_list" class="mt-2 grid gap-4">
                                        <div class="relative flex items-center h-[72px] p-4 shadow-sm rounded-md df-ring-inset-gray bg-gray-50">
                                            <div class="flex flex-1 justify-center">
                                                <span id="id_found_instructor_list_help"
                                                      class="text-sm text-center text-gray-500">유형을 선택하면 선택 가능한 교원이 표시돼요.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="id_instructor" hidden>교원</label>
                                    <input id="id_instructor"
                                           class="alt-radio"
                                           type="text"
                                           value=""
                                           required
                                           hidden>
                                    <input id="id_subject_code" type="text" value="" required hidden>
                                    <input id="id_subject_name" type="text" value="" required hidden>
                                    <p class="mt-2 text-sm text-gray-500" id="id_instructor_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600"
                                       id="id_instructor_error"
                                       hidden></p>
                                </fieldset>
                                <input id="id_original_instructor" value="" hidden>
                                <div>
                                    <label for="id_production_end_date"
                                           class="flex-1 text-sm font-medium leading-6 text-gray-900">프로덕션 종료일</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               id="id_production_end_date"
                                               class="class-first only-date block w-full rounded-md py-1.5 text-gray-900 shadow-sm df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset text-sm leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                               maxlength="10"
                                               minlength="10"
                                               placeholder=""
                                               required>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_production_end_date_help">촬영 마지막 회차의 날짜를 입력하세요.</p>
                                    <p class="mt-2 text-sm text-gray-500"
                                       id="id_production_end_date_descr"
                                       hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600"
                                       id="id_production_end_date_error"
                                       hidden></p>
                                </div>
                                <input id="id_original_production_end_date" value="" hidden>
                                <fieldset>
                                    <legend class="block text-sm font-medium leading-6 text-gray-900">스태프</legend>
                                    <div class="mt-2 -space-y-px rounded-md shadow-sm df-ring-inset-gray">
                                        <div x-data="Components.listbox({ modelName: 'selected', open: false, selectedIndex: 0, activeIndex: 0, items: [ { 'priority': '', 'keyword': '', 'note': '', 'in_english': '', 'required': '', 'text': '담당을 선택하세요.' },
                                            {% for position in position_list %}
                                                { 'priority': '{{ position.function_priority }}{{ position.priority }}', 'keyword':'{{ position.keyword }}', 'note': '{{ position.note }}', 'in_english': '{{ position.in_english }}', 'required': '{{ position.required }}', 'text': '{{ position.keyword }}{% if position.note %}({{ position.note }}){% endif %}' }
                                                {% if not forloop.last %},&nbsp;{% endif %}
                                            {% endfor %}
                                            ] })" x-init="init()">
                                            <div class="flex justify-start items-center">
                                                <label id="id_position_label"
                                                       for="id_position"
                                                       class="sr-only block text-sm font-medium leading-6 text-gray-900"
                                                       @click="$refs.button.focus()">담당</label>
                                            </div>
                                            <div class="relative">
                                                <button id="id_select_position"
                                                        class="relative block w-full cursor-default rounded-none rounded-t-md border-0 bg-transparent py-1.5 pl-3 text-left text-gray-900 df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 text-sm leading-6 disabled:bg-gray-100 disabled:cursor-not-allowed"
                                                        type="button"
                                                        x-ref="button"
                                                        @keydown.arrow-up.stop.prevent="onButtonClick()"
                                                        @keydown.arrow-down.stop.prevent="onButtonClick()"
                                                        @click="onButtonClick()"
                                                        aria-haspopup="listbox"
                                                        :aria-expanded="open"
                                                        aria-labelledby="id_position_label"
                                                        aria-expanded="true">
                                                    <span x-text="selected.text" class="block truncate"></span>
                                                    <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                                                        <svg class="h-5 w-5 text-gray-400"
                                                             viewBox="0 0 20 20"
                                                             fill="currentColor"
                                                             aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </button>
                                                <ul id="id_found_position_list"
                                                    x-show="open"
                                                    x-transition:leave="transition ease-in duration-100"
                                                    x-transition:leave-start="opacity-100"
                                                    x-transition:leave-end="opacity-0"
                                                    class="absolute z-10 mt-1 max-h-60 w-full overflow-auto divide-y divide-gray-100 rounded-md bg-white py-1 text-sm shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                                    x-max="1"
                                                    @click.away="open = false"
                                                    @keydown.enter.stop.prevent="onOptionSelect(); executeWhenPositionIsSelected(selected)"
                                                    @keydown.space.stop.prevent="onOptionSelect(); executeWhenPositionIsSelected(selected)"
                                                    @keydown.escape="onEscape()"
                                                    @keydown.arrow-up.prevent="onArrowUp()"
                                                    @keydown.arrow-down.prevent="onArrowDown()"
                                                    x-ref="listbox"
                                                    tabindex="-1"
                                                    role="listbox"
                                                    aria-labelledby="id_position_label"
                                                    :aria-activedescendant="activeDescendant"
                                                    aria-activedescendant="">
                                                    <li id="id_position_placeholder"
                                                        class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900 hidden"
                                                        role="option"
                                                        @click="choose(0)">
                                                        <span class="font-semibold block mr-4 truncate">담당을 선택하세요.</span>
                                                    </li>
                                                    {% for position in position_list %}
                                                        <li x-state:on="Highlighted"
                                                            x-state:off="Not Highlighted"
                                                            class="class-position flex items-center space-x-3 relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900"
                                                            id="id_position_{{ position.function_priority }}{{ position.priority }}"
                                                            role="option"
                                                            data-function="{{ position.function }}"
                                                            data-priority="{{ position.function_priority }}{{ position.priority }}"
                                                            data-keyword="{{ position.keyword }}"
                                                            data-required="{{ position.required }}"
                                                            @click="choose({{ forloop.counter }}); executeWhenPositionIsSelected(selected)"
                                                            @mouseenter="onMouseEnter($event)"
                                                            @mousemove="onMouseMove($event, {{ forloop.counter }})"
                                                            @mouseleave="onMouseLeave($event)"
                                                            :class="{ 'bg-flamingo-600 text-white': activeIndex === {{ forloop.counter }}, 'text-gray-900': !(activeIndex === {{ forloop.counter }}) }">
                                                            <div>{{ position.function|slice:1 }}</div>
                                                            <div>
                                                                <span x-state:on="Selected"
                                                                      x-state:off="Not Selected"
                                                                      class="font-semibold block mr-4 truncate"
                                                                      :class="{ 'text-white': activeIndex === {{ forloop.counter }}, 'text-flamingo-600': selectedIndex === {{ forloop.counter }} }">{{ position.keyword }}
                                                                    {% if position.note %}({{ position.note }}){% endif %}
                                                                </span>
                                                                <span x-state:on="Highlighted"
                                                                      x-state:off="Not Highlighted"
                                                                      class="font-normal block mt-1 mr-2 text-gray-500"
                                                                      :class="{ 'text-white': activeIndex === {{ forloop.counter }}, 'text-gray-500': !(activeIndex === {{ forloop.counter }}) }">{{ position.in_english }}</span>
                                                                <span x-state:on="Highlighted"
                                                                      x-state:off="Not Highlighted"
                                                                      class="absolute inset-y-0 right-0 flex items-center pr-4 text-flamingo-600"
                                                                      :class="{ 'text-white': activeIndex === {{ forloop.counter }}, 'text-flamingo-600': !(activeIndex === {{ forloop.counter }}) }"
                                                                      x-show="selectedIndex === {{ forloop.counter }}"
                                                                      style="display: none">
                                                                    <svg class="h-5 w-5"
                                                                         viewBox="0 0 20 20"
                                                                         fill="currentColor"
                                                                         aria-hidden="true">
                                                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd">
                                                                        </path>
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <input id="id_position" type="text" value="" required hidden>
                                        </div>
                                        <div class="relative rounded-b-md df-ring-inset-gray hover:bg-gray-50">
                                            <label for="id_name" class="sr-only">이름</label>
                                            <input class="only-hangul w-full rounded-b-md border-0 bg-transparent py-1.5 pl-3 pr-12 text-gray-900 placeholder:text-gray-400 focus:df-focus-ring-inset focus:rounded-b-md text-sm leading-6 read-only:bg-gray-100 read-only:cursor-not-allowed read-only:df-ring-inset-gray read-only:rounded-b-md read-only:hover:bg-gray-100"
                                                   id="id_name"
                                                   role="combobox"
                                                   type="text"
                                                   value=""
                                                   placeholder="홍길동"
                                                   spellcheck="false"
                                                   readonly>
                                            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
                                                <kbd class="inline-flex items-center rounded border border-gray-200 px-1 font-sans text-xs text-gray-400">↵ Enter</kbd>
                                            </div>
                                            <ul class="absolute divide-y divide-gray-100 z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm hidden"
                                                role="listbox"
                                                id="id_found_user_list">
                                                <li class="relative outline-none cursor-default select-none py-2 pl-3 text-gray-900 focus:bg-flamingo-600 focus:text-white hover:bg-flamingo-600 hover:text-white"
                                                    role="option"
                                                    tabindex="-1">
                                                    <div class="flex items-center">
                                                        <img class="h-6 w-6 flex-shrink-0 rounded-full"
                                                             src="{% static 'images/d_dot_f_logo.jpg' %}"
                                                             alt=""
                                                             height=""
                                                             width="">
                                                        <span class="font-semibold ml-3 truncate">홍길동</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul id="id_staff_list" role="list" class="divide-y divide-gray-100 px-3">
                                            <li class="relative flex justify-between gap-x-4 py-3">
                                                <div class="flex items-center min-w-0 gap-x-3">
                                                    <img class="h-10 w-10 flex-none rounded-full bg-gray-50"
                                                         src="{% static 'images/d_dot_f_logo.jpg' %}"
                                                         alt="홍길동님의 프로필 사진"
                                                         height=""
                                                         width="">
                                                    <div class="min-w-0 flex-auto">
                                                        <p class="text-sm text-gray-500">예시</p>
                                                        <p class="text-sm font-semibold leading-6 text-gray-900">
                                                            홍길동 <span class="font-normal">(20*****000)</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="flex shrink-0 items-center">
                                                    <button class="class-remove rounded-md text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:cursor-not-allowed">
                                                        <svg class="w-5 h-5 flex-none"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             fill="none"
                                                             viewBox="0 0 24 24"
                                                             stroke-width="1.5"
                                                             stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_position_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_position_error" hidden></p>
                                    <p class="mt-2 text-sm text-gray-500" id="id_name_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_name_error" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600"
                                       id="id_staff_list_error"
                                       hidden></p>
                                </fieldset>
                                <input id="id_original_staff_list" value="" hidden>
                                <div>
                                    <div class="rounded-md shadow bg-flamingo-50 p-4">
                                        <div class="flex">
                                            <div class="flex-shrink-0">
                                                <svg class="h-5 w-5 text-flamingo-400"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20"
                                                     fill="currentColor"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <div class="ml-3">
                                                <h3 class="text-sm font-medium text-flamingo-800">
                                                    <span class="class-keyword">등록하기</span> 전 꼭 읽어주세요.
                                                </h3>
                                                <div class="mt-2 text-sm text-flamingo-700">
                                                    <ul role="list" class="list-disc space-y-1 pl-5">
                                                        <li>프로젝트 등록 및 수정 권한은 제작 담당(Producer)에게 있어요.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                    <div class="flex mt-2 text-sm sm:mt-0">
                        <p class="text-gray-500 sm:mt-0" id="id_create_or_update_descr" hidden>잠시만 기다려주세요.</p>
                        <p class="text-gray-500 sm:mt-0" id="id_delete_descr" hidden></p>
                        <p class="text-flamingo-600 sm:mt-0"
                           id="id_create_or_update_error"
                           hidden></p>
                        <p class="text-flamingo-600 sm:mt-0" id="id_delete_error" hidden></p>
                    </div>
                    <div class="sm:flex sm:flex-row-reverse">
                        <button type="button"
                                id="id_create_or_update"
                                class="inline-flex w-full justify-center rounded-md bg-flamingo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-flamingo-700 sm:ml-3 sm:w-auto disabled:opacity-75 focus:df-focus-ring-offset-white disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed">
                            <svg class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 id="id_create_or_update_spin">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                            <span class="class-keyword">등록하기</span>
                        </button>
                        <button type="button"
                                id="id_delete"
                                class="mt-3 hidden w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 hover:text-red-700 hover:bg-red-50 sm:mt-0 sm:w-auto disabled:opacity-75 focus:text-red-700 focus:bg-red-50 focus:df-focus-ring-offset-white disabled:text-gray-900 disabled:bg-white disabled:hover:bg-white disabled:cursor-not-allowed">
                            <svg class="animate-spin mr-2 h-5 w-5 hidden"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 id="id_delete_spin">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                            <span id="id_delete_text">삭제하기</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
