{% load static %}
<div id="id_modal"
     x-data="{ open: false }"
     @keydown.window.escape="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
     x-show="open"
     class="relative z-20"
     aria-labelledby="id_modal_title"
     x-ref="dialog"
     aria-modal="true"
     hidden>
    <div x-show="open"
         x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div x-show="open"
                 x-transition:enter="ease-out duration-300"
                 x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave="ease-in duration-200"
                 x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
                 @click.away="open = true">
                <div class="absolute right-0 top-0 pr-4 pt-5 sm:pr-5 block">
                    <button id="id_modal_close"
                            type="button"
                            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:cursor-not-allowed"
                            @click="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keydown.enter.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keyup.space.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }">
                        <span class="sr-only">프로젝트 <span class="class-keyword">만들기</span> 화면 닫기</span>
                        <svg class="h-6 w-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col">
                    <div class="flex mb-5">
                        <div class="mt-0 text-left">
                            <h3 id="id_modal_title"
                                class="text-base font-semibold leading-6 text-gray-900">
                                프로젝트 <span class="class-keyword">만들기</span>
                            </h3>
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col justify-between">
                        {% if user.is_authenticated %}
                            <div class="space-y-5">
                                <input id="id_page_id" value="" hidden>
                                <div>
                                    <label for="id_title"
                                           class="flex-1 text-sm font-medium leading-6 text-gray-900">제목</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               id="id_title"
                                               class="class-first film-title space-allowed block w-full rounded-md py-1.5 text-gray-900 shadow-sm df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset sm:text-sm sm:leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                               placeholder=""
                                               required>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_title_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_title_error" hidden></p>
                                </div>
                                <input id="id_title_original" value="" hidden>
                                <!-- Need to integrate with the Equipment app with id_purpose, not id_category -->
                                <fieldset>
                                    <legend class="text-sm font-medium leading-6 text-gray-900">범주</legend>
                                    <div class="mt-2 grid grid-cols-2 gap-4">
                                        <label class="relative flex justify-between items-center cursor-pointer h-[72px] p-4 shadow-sm rounded-md df-ring-inset-gray hover:bg-gray-50">
                                            <input type="radio"
                                                   id="id_category_dram"
                                                   name="id_category"
                                                   value="극영화"
                                                   class="sr-only class-first class-radio class-category"
                                                   aria-labelledby="id_category_dram_label">
                                            <div class="flex flex-1">
                                                <span class="flex flex-col">
                                                    <span id="id_category_dram_label"
                                                          class="block text-sm font-medium text-gray-900">극영화</span>
                                                    <p id="id_category_dram_error" class="mt-2 text-flamingo-600" hidden></p>
                                                </span>
                                            </div>
                                            <svg class="h-5 w-5 text-flamingo"
                                                 viewBox="0 0 16 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                            </svg>
                                            <span class="pointer-events-none absolute -inset-px rounded-md"
                                                  aria-hidden="true"></span>
                                        </label>
                                        <label class="relative flex justify-between items-center cursor-pointer h-[72px] p-4 shadow-sm rounded-md df-ring-inset-gray hover:bg-gray-50">
                                            <input type="radio"
                                                   id="id_category_docu"
                                                   name="id_category"
                                                   value="다큐멘터리"
                                                   class="sr-only class-first class-radio class-category"
                                                   aria-labelledby="id_category_docu_label">
                                            <div class="flex flex-1">
                                                <span class="flex flex-col">
                                                    <span id="id_category_docu_label"
                                                          class="block text-sm font-medium text-gray-900">다큐멘터리</span>
                                                    <p id="id_category_docu_error" class="mt-2 text-flamingo-600" hidden></p>
                                                </span>
                                            </div>
                                            <svg class="h-5 w-5 text-flamingo"
                                                 viewBox="0 0 16 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                            </svg>
                                            <span class="pointer-events-none absolute -inset-px rounded-md"
                                                  aria-hidden="true"></span>
                                        </label>
                                    </div>
                                    <label for="id_category" hidden>범주</label>
                                    <input type="text"
                                           id="id_category"
                                           class="class-first alt-radio"
                                           value=""
                                           required
                                           hidden>
                                    <p class="mt-2 text-sm text-gray-500" id="id_category_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_category_error" hidden></p>
                                </fieldset>
                                <input id="id_category_original" value="" hidden>
                                <fieldset>
                                    <legend class="block text-sm font-medium leading-6 text-gray-900">스태프</legend>
                                    <div class="mt-2 -space-y-px rounded-md shadow-sm df-ring-inset-gray">
                                        <div>
                                            <label for="id_position" class="sr-only">담당</label>
                                            <select id="id_position"
                                                    class="relative block w-full rounded-none rounded-t-md border-0 bg-transparent py-1.5 text-gray-900 df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset focus:z-10 sm:text-sm sm:leading-6 disabled:bg-gray-100 disabled:cursor-not-allowed">
                                                <option selected hidden>담당을 선택하세요.</option>
                                                {% for position in position_list %}
                                                    {% if position.priority == "01" %}
                                                        <option class="bg-flamingo-50 text-flamingo-800 font-semibold" disabled>{{ position.function }}</option>
                                                        <option value="{{ position.function_priority }}{{ position.priority }}"
                                                                data-keyword="{{ position.keyword }}"
                                                                data-required="{{ position.required }}">
                                                            {% if position.note %}
                                                                {{ position.keyword }}({{ position.note }})
                                                            {% else %}
                                                                {{ position.keyword }}
                                                            {% endif %}
                                                            | {{ position.in_english }}
                                                        </option>
                                                    {% else %}
                                                        <option value="{{ position.function_priority }}{{ position.priority }}"
                                                                data-keyword="{{ position.keyword }}"
                                                                data-required="{{ position.required }}">
                                                            {% if position.note %}
                                                                {{ position.keyword }}({{ position.note }})
                                                            {% else %}
                                                                {{ position.keyword }}
                                                            {% endif %}
                                                            | {{ position.in_english }}
                                                        </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="relative rounded-b-md df-ring-inset-gray hover:bg-gray-50">
                                            <label for="id_name" class="sr-only">이름</label>
                                            <input class="only-hangul w-full rounded-b-md border-0 bg-transparent py-1.5 pl-3 pr-12 text-gray-900 placeholder:text-gray-400 focus:df-focus-ring-inset focus:rounded-b-md sm:text-sm sm:leading-6 read-only:bg-gray-100 read-only:cursor-not-allowed read-only:df-ring-inset-gray read-only:rounded-b-md read-only:hover:bg-gray-100"
                                                   id="id_name"
                                                   role="combobox"
                                                   type="text"
                                                   value=""
                                                   placeholder="홍길동"
                                                   spellcheck="false"
                                                   readonly>
                                            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
                                                <kbd class="inline-flex items-center rounded border border-gray-200 px-1 font-sans text-xs text-gray-400">↵ Enter</kbd>
                                            </div>
                                            <ul class="absolute divide-y divide-gray-100 z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm hidden"
                                                role="listbox"
                                                id="id_found_user_list">
                                                <li class="relative outline-none cursor-default select-none py-2 pl-3 text-gray-900 focus:bg-flamingo-600 focus:text-white hover:bg-flamingo-600 hover:text-white"
                                                    role="option"
                                                    tabindex="-1">
                                                    <div class="flex items-center">
                                                        <img class="h-6 w-6 flex-shrink-0 rounded-full"
                                                             src="{% static 'images/d_dot_f_logo.jpg' %}"
                                                             alt=""
                                                             height=""
                                                             width="">
                                                        <span class="font-semibold ml-3 truncate">홍길동</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul id="id_staff_list" role="list" class="divide-y divide-gray-100 px-3">
                                            <li class="relative flex justify-between gap-x-4 py-3">
                                                <div class="flex items-center min-w-0 gap-x-3">
                                                    <img class="h-10 w-10 flex-none rounded-full bg-gray-50"
                                                         src="{% static 'images/d_dot_f_logo.jpg' %}"
                                                         alt="홍길동님의 프로필 사진"
                                                         height=""
                                                         width="">
                                                    <div class="min-w-0 flex-auto">
                                                        <p class="text-sm text-gray-500">예시</p>
                                                        <p class="text-sm font-semibold leading-6 text-gray-900">
                                                            홍길동 <span class="font-normal">(20*****000)</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="flex shrink-0 items-center">
                                                    <button class="class-remove rounded-md text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:cursor-not-allowed">
                                                        <svg class="w-5 h-5 flex-none"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             fill="none"
                                                             viewBox="0 0 24 24"
                                                             stroke-width="1.5"
                                                             stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_position_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_position_error" hidden></p>
                                    <p class="mt-2 text-sm text-gray-500" id="id_name_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_name_error" hidden></p>
                                    <p class="mt-2 text-sm text-gray-500" id="id_staff_list_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600"
                                       id="id_staff_list_error"
                                       hidden></p>
                                </fieldset>
                                <input id="id_staff_list_original" value="" hidden>
                                <div>
                                    <div class="rounded-md shadow bg-flamingo-50 p-4">
                                        <div class="flex">
                                            <div class="flex-shrink-0">
                                                <svg class="h-5 w-5 text-flamingo-400"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20"
                                                     fill="currentColor"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <div class="ml-3">
                                                <h3 class="text-sm font-medium text-flamingo-800">프로젝트 관련 안내사항</h3>
                                                <div class="mt-2 text-sm text-flamingo-700">
                                                    <ul role="list" class="list-disc space-y-1 pl-5">
                                                        <li>프로젝트 생성 및 수정 권한은 제작자(Producer)에게 있습니다.</li>
                                                        <li>안정적인 서비스 제공을 위해 운영진은 {{ user.metadata.name }}님의 프로젝트 생성 및 수정 내역을 조회할 수 있습니다.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                    <div class="flex mt-2 text-sm sm:mt-0">
                        <p class="text-gray-500 sm:mt-0" id="id_create_or_update_descr" hidden>잠시만 기다려주세요.</p>
                        <p class="text-gray-500 sm:mt-0" id="id_delete_descr" hidden></p>
                        <p class="text-flamingo-600 sm:mt-0"
                           id="id_create_or_update_error"
                           hidden></p>
                        <p class="text-flamingo-600 sm:mt-0" id="id_delete_error" hidden></p>
                    </div>
                    <div class="sm:flex sm:flex-row-reverse">
                        <button type="button"
                                id="id_create_or_update"
                                class="inline-flex w-full justify-center rounded-md bg-flamingo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-flamingo-700 sm:ml-3 sm:w-auto disabled:opacity-75 focus:df-focus-ring-offset-white disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed">
                            <svg class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 id="id_create_or_update_spin">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                            <span class="class-keyword">만들기</span>
                        </button>
                        <button type="button"
                                id="id_delete"
                                class="mt-3 hidden w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 hover:text-red-700 hover:bg-red-50 sm:mt-0 sm:w-auto disabled:opacity-75 focus:text-red-700 focus:bg-red-50 focus:df-focus-ring-offset-white disabled:text-gray-900 disabled:bg-white disabled:hover:bg-white disabled:cursor-not-allowed">
                            <svg class="animate-spin mr-2 h-5 w-5 hidden"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 id="id_delete_spin">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                            <span id="id_delete_text">삭제하기</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
