{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block meta %}
    <meta property="og:title" content="공지사항 - 디닷에프 | D-dot-f">
    <meta property="og:url" content="{% url 'notice:notice' %}">
    <meta name="robots" content="index,follow">
{% endblock meta %}
{% block title %}
    {{ notice.title }} - 공지사항 - 디닷에프
{% endblock title %}
{% block body %}
    <!-- Hero -->
    <div class="relative sm:pt-6 lg:pt-8">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-xl overflow-hidden">
                <div class="absolute inset-0" aria-hidden="true">
                    <div class="mix-blend-multiply w-full h-full">
                        <!-- Swiper -->
                        <div class="swiper mySwiper w-full h-full">
                            <div class="swiper-wrapper">
                                {% for image in image_list|shuffle %}
                                    <div class="swiper-slide">
                                        <img class="object-cover w-full h-full grayscale"
                                             height=""
                                             width=""
                                             alt=""
                                             src="{{ image }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">공지사항</h1>
                    <p class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                        디닷에프 서비스 및 학과 관련 공지사항
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail -->
    <div class="mt-6 relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div id="id_detail"
             class="bg-white shadow rounded-md px-4 py-5 sm:px-6"
             data-page-id="{{ notice.page_id }}"
             data-title="{{ notice.title }}"
             data-category="{{ notice.category }}"
             data-keyword="{{ notice.keyword.string }}"
             data-user-name="{{ notice.user.name }}"
             data-user-profile-img="{{ notice.user.profile_img }}"
             data-listed-date="{{ notice.listed_date }}">
            {% if notice.category == "서비스" %}
                <p class="inline-block rounded-md whitespace-nowrap px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-slate-700 bg-slate-50 ring-slate-600/20">
                    {{ notice.category }}
                </p>
            {% elif notice.category == "학과" %}
                <p class="inline-block rounded-md whitespace-nowrap px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-yellow-700 bg-yellow-50 ring-yellow-600/20">
                    {{ notice.category }}
                </p>
            {% endif %}
            <h2 class="text-gray-700 text-xl sm:text-2xl font-bold break-words mt-2">{{ notice.title }}</h2>
            <div class="flex justify-between items-center mt-3">
                <div class="flex items-center text-sm text-gray-500 gap-x-2">
                    <img src="{{ notice.user.profile_img }}"
                         class="h-6 w-6 rounded-full"
                         alt="{{ notice.user.name }}님의 프로필 사진"
                         height=""
                         width="">
                    <span class="font-semibold">{{ notice.user.name }}</span>
                    <span>·</span>
                    <time datetime="{{ notice.listed_date }}">{{ notice.listed_date }}</time>
                </div>
                <div x-data="Components.menu({ open: false })"
                     x-init="init()"
                     @keydown.escape.stop="open = false; focusButton()"
                     @click.away="onClickAway($event)"
                     class="relative ml-auto">
                    <button type="button"
                            class="-m-2 block p-2 rounded-md text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:cursor-not-allowed"
                            id="id_detail_option"
                            x-ref="button"
                            @click="onButtonClick()"
                            @keyup.space.prevent="onButtonEnter()"
                            @keydown.enter.prevent="onButtonEnter()"
                            aria-expanded="false"
                            aria-haspopup="true"
                            x-bind:aria-expanded="open.toString()"
                            @keydown.arrow-up.prevent="onArrowUp()"
                            @keydown.arrow-down.prevent="onArrowDown()">
                        <span class="sr-only">옵션 열기</span>
                        <svg class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z">
                            </path>
                        </svg>
                    </button>
                    <div x-show="open"
                         x-transition:enter="transition ease-out duration-100"
                         x-transition:enter-start="transform opacity-0 scale-95"
                         x-transition:enter-end="transform opacity-100 scale-100"
                         x-transition:leave="transition ease-in duration-75"
                         x-transition:leave-start="transform opacity-100 scale-100"
                         x-transition:leave-end="transform opacity-0 scale-95"
                         class="absolute right-0 z-10 mt-0.5 w-32 origin-top-right rounded-md bg-white py-1 shadow-md ring-1 ring-gray-900/5 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-flamingo-500"
                         x-ref="menu-items"
                         x-description="Dropdown menu, show/hide based on menu state."
                         x-bind:aria-activedescendant="activeDescendant"
                         role="menu"
                         aria-orientation="vertical"
                         aria-labelledby="id_detail_option"
                         tabindex="-1"
                         @keydown.arrow-up.prevent="onArrowUp()"
                         @keydown.arrow-down.prevent="onArrowDown()"
                         @keydown.tab="open = false"
                         @keydown.enter.prevent="open = false; $event.target.children[activeIndex].click(); if (activeIndex === 1) { setTimeout(() => { freezeCkEditor() }, 0.00001) }"
                         @keyup.space.prevent="open = false; $event.target.children[activeIndex].click(); if (activeIndex === 1) { setTimeout(() => { freezeCkEditor() }, 0.00001) }"
                         style="display: none">
                        <div class="class-share block px-4 py-2 text-sm text-gray-700 cursor-pointer"
                             x-state:on="Active"
                             x-state:off="Not Active"
                             :class="{ 'bg-gray-100': activeIndex === 0 }"
                             role="menuitem"
                             tabindex="-1"
                             id="id_detail_share"
                             @mouseenter="onMouseEnter($event); activeIndex = 0"
                             @mousemove="onMouseMove($event, 0)"
                             @mouseleave="onMouseLeave($event); activeIndex = -1"
                             @click="open = false">공유하기</div>
                        {% if user.username == notice.user.student_id %}
                            <div class="class-adjust block px-4 py-2 text-sm text-gray-700 cursor-pointer"
                                 :class="{ 'bg-gray-100': activeIndex === 1 }"
                                 role="menuitem"
                                 tabindex="-1"
                                 id="id_detail_adjust"
                                 @mouseenter="onMouseEnter($event); activeIndex = 1"
                                 @mousemove="onMouseMove($event, 1)"
                                 @mouseleave="onMouseLeave($event); activeIndex = -1"
                                 @click="open = false"
                                 data-page-id="{{ notice.page_id }}"
                                 data-title="{{ notice.title }}"
                                 data-category="{{ notice.category }}"
                                 data-keyword="{{ notice.keyword.string }}"
                                 data-file="{{ notice.file.string }}"
                                 data-listed-date="{{ notice.listed_date }}">수정하기</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="relative mt-2">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="w-full border-t border-gray-100"></div>
                </div>
                <div class="relative flex justify-end min-h-[36px]"></div>
            </div>
            {% if notice.file.dict %}
                <ul role="list"
                    class="mt-2 mb-6 divide-y divide-gray-100 rounded-md ring-1 ring-inset ring-gray-100">
                    {% for file in notice.file.dict %}
                        <li class="class-download relative flex items-center justify-between pl-4 py-4 pr-5 text-sm leading-6 sm:px-6 hover:bg-gray-50">
                            <a href="https://dongguk-film.s3.ap-northeast-2.amazonaws.com/{{ file.key }}"
                               class="absolute inset-0 cursor-pointer focus:df-focus-ring-inset"
                               title="{{ file.name }} 내려받기"></a>
                            <div class="flex w-0 flex-1 items-center">
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-400"
                                     viewBox="0 0 20 20"
                                     fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd">
                                    </path>
                                </svg>
                                <div class="ml-4 flex flex-col min-w-0 flex-1 sm:flex-row sm:gap-2">
                                    <span class="truncate font-medium">{{ file.name }}</span>
                                    <span class="flex-shrink-0 text-gray-400">{{ file.readableSize }}</span>
                                </div>
                            </div>
                            <div class="flex-shrink-0 sm:ml-4">
                                <span class="font-medium text-flamingo-600 rounded-md hidden sm:block">내려받기</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="ck ck-content mt-2 break-words">{{ notice.content|safe }}</div>
            <div class="flex justify-start gap-2 mt-5 mb-3">
                <span class="sr-only">해시태그:</span>
                {% for keyword in notice.keyword.list %}
                    <span class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-0 text-gray-700 bg-gray-100">
                        {{ keyword }}
                    </span>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col-reverse mt-5 justify-end sm:items-center sm:flex sm:flex-row">
            <div class="sm:flex sm:flex-row-reverse">
                {% if user.username == notice.user.student_id %}
                    <button data-page-id="{{ notice.page_id }}"
                            data-title="{{ notice.title }}"
                            data-category="{{ notice.category }}"
                            data-keyword="{{ notice.keyword.string }}"
                            data-file="{{ notice.file.string }}"
                            data-listed-date="{{ notice.listed_date }}"
                            type="button"
                            class="class-adjust z-20 inline-flex w-full justify-center rounded-md bg-flamingo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-flamingo-700 sm:ml-3 sm:w-auto disabled:opacity-75 focus:df-focus-ring-offset-gray disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed">
                        수정하기
                    </button>
                {% endif %}
                <button type="button"
                        id="id_go_to_list"
                        class="z-20 mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm sm:mt-0 sm:w-auto hover:bg-gray-50 focus:df-focus-ring-offset-gray disabled:bg-gray-50 disabled:cursor-not-allowed">
                    목록 보기
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% include "notice/notice_modal.html" %}
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script src="{% static 'js/notice.js' %}"></script>
{% endblock body %}
