{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block meta %}
    <meta property="og:title" content="공지사항 - 디닷에프 | D-dot-f">
    <meta property="og:url" content="{% url 'notice:notice' %}">
    <meta name="robots" content="index,follow">
{% endblock %}
{% block title %}공지사항 - 디닷에프{% endblock %}
{% block body %}
    <!-- Hero -->
    <div class="relative sm:pt-6 lg:pt-8">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-xl overflow-hidden">
                <div class="absolute inset-0" aria-hidden="true">
                    <div class="mix-blend-multiply w-full h-full">
                        <!-- Swiper -->
                        <div class="swiper mySwiper w-full h-full">
                            <div class="swiper-wrapper">
                                {% for image in image_list|shuffle %}
                                    <div class="swiper-slide">
                                        <img class="object-cover w-full h-full grayscale"
                                             height=""
                                             width=""
                                             alt=""
                                             src="{{ image }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">공지사항</h1>
                    <p class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                        디닷에프 서비스 및 학과 관련 공지사항
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Search -->
    <div class="mt-6 relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="overflow-hidden bg-white shadow rounded-md px-4 py-5 sm:px-6"
             id="id_search_box">
            {% if "?q=" in request.get_full_path %}
                <div class="flex justify-between items-center">
                    <label for="id_notice_q"
                           class="flex text-sm font-medium leading-6 text-gray-500">
                        <span class="font-semibold">{{ notice_count }}개</span>&nbsp중&nbsp<span class="font-semibold">{{ query_result_count|default_if_none:'0' }}개</span>의 공지사항 검색됨
                    </label>
                    <div id="id_search_notice_init"
                         class="flex text-gray-500 cursor-pointer hover:text-gray-900"
                         tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-4 h-4"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                        </svg>
                        <span class="sr-only">검색 초기화</span>
                    </div>
                </div>
            {% else %}
                <label for="id_notice_q"
                       class="block text-sm font-medium leading-6 text-gray-500">
                    <span class="font-semibold">{{ notice_count }}개</span>의 공지사항 검색
                </label>
            {% endif %}
            <div class="mt-2 flex rounded-md shadow-sm" id="id_search_parent">
                <div class="relative flex flex-grow items-stretch focus-within:z-10">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-gray-400"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z" />
                            <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z" />
                        </svg>
                    </div>
                    <input type="text"
                           name="name_notice_q"
                           id="id_notice_q"
                           class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-flamingo-500 sm:text-sm sm:leading-6 read-only:bg-gray-100 read-only:cursor-not-allowed"
                           placeholder="{% now 'Y' %}년도 1학기 수강신청 안내">
                </div>
                <button type="button"
                        id="id_search_notice"
                        class="relative -ml-px rounded-r-md px-3 py-2 text-sm font-semibold text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 disabled:bg-gray-50 disabled:cursor-not-allowed">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                    <span class="sr-only">검색</span>
                </button>
            </div>
        </div>
    </div>
    <!-- List -->
    <div class="mt-6 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <ul role="list"
            class="divide-y divide-gray-100 overflow-hidden bg-white shadow ring-1 ring-gray-900/5 rounded-md">
            {% for notice in page_value %}
                <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
                    <div class="flex gap-x-4">
                        <div class="min-w-0 flex-auto">
                            <!-- notice.title -->
                            <p class="text-sm font-semibold leading-6 text-gray-900">
                                <a href="https://dgufilm.link/{{ notice.slug }}" target="_blank">
                                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                                    {{ notice.title }}
                                </a>
                            </p>
                            <!-- notice.slug -->
                            <p class="mt-1 flex text-sm leading-5 text-gray-500">https://dgufilm.link/{{ notice.slug }}</p>
                            <!-- notice.expiration_date(<=sm ) -->
                            <p class="mt-1 flex text-sm leading-5 text-gray-500 sm:hidden">
                                <time datetime="{{ notice.expiration_date }}">{{ notice.expiration_date }}</time>&nbsp만료
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center gap-x-4">
                        <div class="flex flex-col items-end">
                            <!-- notice.category -->
                            {% if notice.category == "서비스" %}
                                <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-flamingo-800 bg-flamingo-50 ring-flamingo-600/20">
                                    {{ notice.category }}
                                </p>
                            {% else %}
                                <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-yellow-700 bg-yellow-50 ring-yellow-600/20">
                                    {{ notice.category }}
                                </p>
                            {% endif %}
                            <!-- notice.expiration_date(>sm) -->
                            <p class="hidden sm:flex sm:mt-1 sm:text-sm sm:leading-5 sm:text-gray-500">
                                <time datetime="{{ notice.expiration_date }}">{{ notice.expiration_date }}</time>&nbsp만료
                            </p>
                            {% if user.username == notice.user %}
                                <p class="mt-7 flex text-sm leading-5 text-gray-500 sm:mt-1">
                                    <span id="id_adjust_notice_{{ notice.id_string }}"
                                          class="class-open class-adjust relative truncate cursor-pointer hover:underline"
                                          tabindex="0">수정하기</span>
                                </p>
                            {% endif %}
                        </div>
                        <svg class="h-5 w-5 flex-none text-gray-400"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <input id="id_notice_{{ notice.id_string }}"
                           value="{{ notice.id_string }},{{ notice.original_url }},{{ notice.slug }},{{ notice.title }},{{ notice.category }},{{ notice.expiration_date }}"
                           hidden>
                </li>
            {% empty %}
                <li class="relative flex justify-start items-center px-4 py-4 text-gray-500 text-sm font-medium sm:px-6">
                    {% if "?q=" in request.get_full_path %}
                        검색된 공지사항이 없어요.
                    {% else %}
                        등록된 공지사항이 없어요.
                    {% endif %}
                </li>
            {% endfor %}
            {% if user.is_authenticated %}
                <li class="class-open relative flex justify-start items-center gap-x-1 px-4 py-4 text-sm hover:bg-gray-50 sm:px-6"
                    tabindex="0">
                    <span class="absolute inset-x-0 -top-px bottom-0 cursor-pointer"></span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         class="w-5 h-5">
                        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    새로 작성하기
                </li>
            {% else %}
                <li class="relative flex justify-start items-center gap-x-1 px-4 py-4 text-sm hover:bg-gray-50 sm:px-6"
                    tabindex="0">
                    <a href="{% url 'account_login' %}"
                       class="login-button absolute inset-x-0 -top-px bottom-0"></a>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         class="w-5 h-5">
                        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    새로 작성하기
                </li>
            {% endif %}
            <li class="mx-auto max-w-7xl">
                <nav class="flex items-center justify-between">
                    <div class="-mt-px flex w-0 flex-1">
                        {% if page_value.has_previous %}
                            <a href="?{{ query_param|default_if_none:'' }}page={{ page_value.previous_page_number }}"
                               class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 sm:px-6">
                                <svg class="h-5 w-5 text-gray-400"
                                     viewBox="0 0 20 20"
                                     fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd">
                                    </path>
                                </svg>
                                <span class="sr-only">이전 페이지</span>
                            </a>
                        {% else %}
                            <div class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:cursor-not-allowed sm:px-6">
                                <svg class="h-5 w-5 text-gray-400"
                                     viewBox="0 0 20 20"
                                     fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd">
                                    </path>
                                </svg>
                                <span class="sr-only">이전 페이지</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="hidden md:-mt-px md:flex">
                        {% for num in page_range %}
                            {% if num == page_value.number %}
                                <a href="?{{ query_param|default_if_none:'' }}page={{ num }}"
                                   class="inline-flex items-center border-t-2 border-flamingo-500 px-4 py-4 text-sm font-medium text-flamingo-600"
                                   aria-current="page">{{ num }}</a>
                            {% else %}
                                <a href="?{{ query_param|default_if_none:'' }}page={{ num }}"
                                   class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="-mt-px flex w-0 flex-1 justify-end">
                        {% if page_value.has_next %}
                            <a href="?{{ query_param|default_if_none:'' }}page={{ page_value.next_page_number }}"
                               class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700 sm:px-6">
                                <span class="sr-only">다음 페이지</span>
                                <svg class="h-5 w-5 text-gray-400"
                                     viewBox="0 0 20 20"
                                     fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd">
                                    </path>
                                </svg>
                            </a>
                        {% else %}
                            <div class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:cursor-not-allowed sm:px-6">
                                <span class="sr-only">다음 페이지</span>
                                <svg class="h-5 w-5 text-gray-400"
                                     viewBox="0 0 20 20"
                                     fill="currentColor"
                                     aria-hidden="true">
                                    <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd">
                                    </path>
                                </svg>
                            </div>
                        {% endif %}
                    </div>
                </nav>
            </li>
        </ul>
    </div>
    <!-- Modal -->
    {% if user.is_authenticated %}
        {% include "shared/_notice_modal.html" %}
    {% endif %}
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script src="{% static 'js/notice.js' %}"></script>
{% endblock %}
