{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block meta %}
    <meta property="og:title" content="예약내역 - 디닷에프 | D-dot-f">
    <meta property="og:url" content="{% url 'facility:facility' %}">
    <meta name="robots" content="index,follow">
{% endblock meta %}
{% block title %}
    예약내역 - 디닷에프
{% endblock title %}
{% block body %}
    <!-- Hero -->
    <div class="relative sm:pt-6 lg:pt-8">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-xl overflow-hidden">
                <div class="absolute inset-0" aria-hidden="true">
                    <div class="mix-blend-multiply w-full h-full">
                        <!-- Swiper -->
                        <div class="swiper mySwiper w-full h-full">
                            <div class="swiper-wrapper">
                                {% for image in image_list|shuffle %}
                                    <div class="swiper-slide">
                                        <img class="object-cover w-full h-full grayscale"
                                             height=""
                                             width=""
                                             alt=""
                                             src="{{ image }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">예약내역</h1>
                    <p class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                        기자재, 공간, 소모품 등 예약내역
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Calendar -->
    <div class="mt-6 relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <header class="flex items-center justify-between pb-4 lg:flex-none">
            <div class="flex gap-2 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="currentColor"
                     class="w-6 h-6 text-gray-500"
                     aria-hidden="true">
                    <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
                </svg>
                <h2 id="id_current_month_year" class="text-lg font-medium leading-6"></h2>
            </div>
            <div class="flex items-center">
                <div class="relative flex items-center justify-end gap-6 md:items-stretch">
                    <button type="button"
                            id="id_prev_month"
                            class="flex items-center rounded-md text-gray-400 hover:text-gray-500 focus:relative focus:text-gray-500 focus:df-focus-ring-offset-gray">
                        <span class="sr-only">지난달</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             fill="currentColor"
                             class="w-6 h-6"
                             aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <button type="button"
                            id="id_current_month"
                            class="text-lg font-medium leading-6 h-6 rounded-md text-gray-500 hover:text-gray-900 focus:relative focus:text-gray-900 focus:df-focus-ring-offset-gray">
                        오늘
                    </button>
                    <button type="button"
                            id="id_next_month"
                            class="flex items-center rounded-md text-gray-400 hover:text-gray-500 focus:relative focus:text-gray-500 focus:df-focus-ring-offset-gray">
                        <span class="sr-only">다음달</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24"
                             fill="currentColor"
                             class="w-6 h-6">
                            <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
        </header>
        <div class="shadow rounded-md lg:flex lg:flex-auto lg:flex-col">
            <div class="rounded-tl-md rounded-tr-md grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none">
                <div class="flex justify-center rounded-tl-md bg-gray-50 text-red-700 py-2">일</div>
                <div class="flex justify-center bg-gray-50 py-2">월</div>
                <div class="flex justify-center bg-gray-50 py-2">화</div>
                <div class="flex justify-center bg-gray-50 py-2">수</div>
                <div class="flex justify-center bg-gray-50 py-2">목</div>
                <div class="flex justify-center bg-gray-50 py-2">금</div>
                <div class="flex justify-center rounded-tr-md bg-gray-50 text-blue-700 py-2">토</div>
            </div>
            <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 lg:flex-auto">
                <div class="w-full grid grid-cols-7 grid-rows-6 gap-px relative overflow-hidden rounded-bl-md rounded-br-md"
                     id="id_calendar_grid">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% include "facility/facility_modal.html" %}
    <script src="{% static 'js/forms.js' %}"></script>
    <script src="{% static 'js/facility.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
{% endblock body %}
