<div id="id_modal"
     x-data="{ open: false }"
     @keydown.window.escape="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
     x-show="open"
     class="relative z-20"
     aria-labelledby="id_modal_title"
     x-ref="dialog"
     aria-modal="true"
     hidden>
    <div x-show="open"
         x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div x-show="open"
                 x-transition:enter="ease-out duration-300"
                 x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave="ease-in duration-200"
                 x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
                 @click.away="open = true">
                <div class="absolute right-0 top-0 pr-4 pt-5 sm:pr-5 block">
                    <button id="id_modal_close"
                            type="button"
                            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:cursor-not-allowed"
                            @click="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keydown.enter.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keyup.space.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }">
                        <span class="sr-only">동영링크 <span class="class-keyword">만들기</span> 화면 닫기</span>
                        <svg class="h-6 w-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col">
                    <div class="flex mb-5">
                        <div class="mt-0 text-left">
                            <h3 id="id_modal_title"
                                class="text-base font-semibold leading-6 text-gray-900">
                                동영링크 <span class="class-keyword">만들기</span>
                            </h3>
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col justify-between">
                        {% if user.is_authenticated %}
                            <div class="space-y-5">
                                <input id="id_link_id" value="" hidden>
                                <div>
                                    <label for="id_target_url"
                                           class="block text-sm font-medium leading-6 text-gray-900">대상 URL</label>
                                    <div class="mt-2">
                                        <div class="relative flex flex-grow items-stretch focus-within:z-10">
                                            <input type="url"
                                                   id="id_target_url"
                                                   class="class-first only-url block w-full rounded-md py-1.5 text-gray-900 shadow-sm df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset sm:text-sm sm:leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                                   placeholder=""
                                                   required>
                                        </div>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_target_url_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600"
                                       id="id_target_url_error"
                                       hidden></p>
                                </div>
                                <input id="id_target_url_original" value="" hidden>
                                <div>
                                    <label for="id_slug"
                                           class="block text-sm font-medium leading-6 text-gray-900">동영링크 URL</label>
                                    <div class="mt-2 flex rounded-md shadow-sm">
                                        <span class="inline-flex items-center rounded-l-md df-ring-inset-gray px-3 text-gray-500 sm:text-sm">https://dgufilm.link/</span>
                                        <input type="text"
                                               id="id_slug"
                                               class="class-first only-slug block w-full min-w-0 flex-1 -ml-px rounded-none rounded-r-md py-1.5 text-gray-900 df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset sm:text-sm sm:leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                               placeholder=""
                                               required>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_slug_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_slug_error" hidden></p>
                                </div>
                                <input id="id_slug_original" value="" hidden>
                                <div>
                                    <label for="id_title"
                                           class="block text-sm font-medium leading-6 text-gray-900">제목</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               id="id_title"
                                               class="class-first space-allowed block w-full rounded-md py-1.5 text-gray-900 shadow-sm df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset sm:text-sm sm:leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                               placeholder=""
                                               required>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_title_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_title_error" hidden></p>
                                </div>
                                <input id="id_title_original" value="" hidden>
                                <fieldset>
                                    <legend class="text-sm font-medium leading-6 text-gray-900">범주</legend>
                                    <div class="mt-2 space-y-4">
                                        <div class="relative flex items-start">
                                            <div class="absolute flex h-6 items-center">
                                                <input id="id_category_work"
                                                       name="id_category"
                                                       value="작품"
                                                       aria-describedby="id_category_work_descr"
                                                       type="radio"
                                                       class="class-first class-radio class-category h-4 w-4 border-gray-300 text-flamingo-500 hover:bg-gray-50 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:cursor-not-allowed">
                                            </div>
                                            <div class="pl-7 text-sm leading-6">
                                                <label for="id_category_work" class="font-medium text-gray-900">작품 관련</label>
                                                <p id="id_category_work_descr" class="text-gray-500">시나리오, 일일촬영계획표, 레퍼런스 등</p>
                                                <p id="id_category_work_error" class="mt-2 text-flamingo-600" hidden></p>
                                            </div>
                                        </div>
                                        <div class="relative flex items-start">
                                            <div class="absolute flex h-6 items-center">
                                                <input id="id_category_dept"
                                                       name="id_category"
                                                       value="학과"
                                                       aria-describedby="id_category_dept_descr"
                                                       type="radio"
                                                       class="class-first class-radio class-category h-4 w-4 border-gray-300 text-flamingo-500 hover:bg-gray-50 focus:df-focus-ring-offset-white disabled:opacity-75 disabled:cursor-not-allowed">
                                            </div>
                                            <div class="pl-7 text-sm leading-6">
                                                <label for="id_category_dept" class="font-medium text-gray-900">학과 관련</label>
                                                <p id="id_category_dept_descr" class="text-gray-500">학생회 및 학과사무실 공지사항 등</p>
                                                <p id="id_category_dept_error" class="mt-2 text-flamingo-600" hidden></p>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="id_category" hidden>범주</label>
                                    <input type="text"
                                           id="id_category"
                                           class="class-first alt-radio"
                                           value=""
                                           required
                                           hidden>
                                    <p class="mt-2 text-sm text-gray-500" id="id_category_descr" hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600" id="id_category_error" hidden></p>
                                </fieldset>
                                <input id="id_category_original" value="" hidden>
                                <div>
                                    <label for="id_expiration_date"
                                           class="block text-sm font-medium leading-6 text-gray-900">만료일</label>
                                    <div class="mt-2">
                                        <input type="text"
                                               id="id_expiration_date"
                                               class="class-first only-date block w-full rounded-md py-1.5 text-gray-900 shadow-sm df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset sm:text-sm sm:leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                               maxlength="10"
                                               minlength="10"
                                               placeholder=""
                                               min=""
                                               max=""
                                               required>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500" id="id_expiration_date_help"></p>
                                    <p class="mt-2 text-sm text-gray-500"
                                       id="id_expiration_date_descr"
                                       hidden></p>
                                    <p class="mt-2 text-sm text-flamingo-600"
                                       id="id_expiration_date_error"
                                       hidden></p>
                                </div>
                                <input id="id_expiration_date_original" value="" hidden>
                                <div>
                                    <div class="rounded-md shadow bg-flamingo-50 p-4">
                                        <div class="flex">
                                            <div class="flex-shrink-0">
                                                <svg class="h-5 w-5 text-flamingo-400"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20"
                                                     fill="currentColor"
                                                     aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                                                </svg>
                                            </div>
                                            <div class="ml-3">
                                                <h3 class="text-sm font-medium text-flamingo-800">동영링크 관련 안내사항</h3>
                                                <div class="mt-2 text-sm text-flamingo-700">
                                                    <ul role="list" class="list-disc space-y-1 pl-5">
                                                        <li>동영링크는 'dgufilm.link/example' 형태의 동국대학교 영화영상학과 브랜디드 URL입니다.</li>
                                                        <li>안전한 서비스 제공을 위해 운영진은 {{ user.metadata.name }}님의 동영링크 생성 및 수정 내역을 조회할 수 있습니다.</li>
                                                        <li>
                                                            하단의 '<span class="class-keyword">만들기</span>' 버튼 클릭 시 유효성 및 유해성 검사가 진행되며, 일부 검사 결과는 부정확할 수 있습니다.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                    <div class="flex mt-2 text-sm sm:mt-0">
                        <p class="text-gray-500 sm:mt-0" id="id_create_or_update_descr" hidden>잠시만 기다려주세요.</p>
                        <p class="text-gray-500 sm:mt-0" id="id_delete_descr" hidden></p>
                        <p class="text-flamingo-600 sm:mt-0"
                           id="id_create_or_update_error"
                           hidden></p>
                        <p class="text-flamingo-600 sm:mt-0" id="id_delete_error" hidden></p>
                    </div>
                    <div class="sm:flex sm:flex-row-reverse">
                        <button type="button"
                                id="id_create_or_update"
                                class="inline-flex w-full justify-center rounded-md bg-flamingo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-flamingo-700 sm:ml-3 sm:w-auto disabled:opacity-75 focus:df-focus-ring-offset-white disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed">
                            <svg class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 id="id_create_or_update_spin">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                            <span class="class-keyword">만들기</span>
                        </button>
                        <button type="button"
                                id="id_delete"
                                class="mt-3 hidden w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 hover:text-red-700 hover:bg-red-50 sm:mt-0 sm:w-auto disabled:opacity-75 focus:text-red-700 focus:bg-red-50 focus:df-focus-ring-offset-white disabled:text-gray-900 disabled:bg-white disabled:hover:bg-white disabled:cursor-not-allowed">
                            <svg class="animate-spin mr-2 h-5 w-5 hidden"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 id="id_delete_spin">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                            <span id="id_delete_text">삭제하기</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
