{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta property="og:title" content="동영링크 - 디닷에프 | D-dot-f">
<meta property="og:url" content="{% url 'dflink:dflink' %}">
<!-- <meta name="robots" content="index,follow"> -->
{% endblock %}

{% block title %}동영링크 - 디닷에프{% endblock %}

{% block body %}
<!-- Hero -->
<div class="relative sm:pt-6 lg:pt-8">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="relative shadow-xl sm:rounded-2xl overflow-hidden">
            <div class="absolute inset-0" aria-hidden="true">
                <div class="mix-blend-multiply w-full h-full">
                    <img src="https://source.unsplash.com/random/1280%C3%97600/?keyboard"
                        class="absolute inset-0 -z-10 h-full w-full object-cover" aria-hidden="true">
                </div>
                <div class="absolute inset-0 bg-flamingo-700 mix-blend-multiply"></div>
            </div>
            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                <h1 class="text-center text-white text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl">
                    동영링크
                </h1>
                <p
                    class="mt-4 sm:mt-6 max-w-lg mx-auto text-center text-base sm:text-lg lg:text-xl text-flamingo-100 sm:max-w-3xl">
                    동국대학교 영화영상학과 전용 링크</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Search -->
<div class="mt-8 relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="overflow-hidden bg-white shadow rounded-lg px-4 py-5 sm:px-6">
        <div>
            <label for="dflink_search" class="block text-sm font-medium leading-6 text-gray-500">동영링크 검색</label>
            <div class="mt-2 flex rounded-md shadow-sm">
                <div class="relative flex flex-grow items-stretch focus-within:z-10">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path
                                d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z" />
                            <path
                                d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z" />
                        </svg>

                    </div>
                    <input type="text" name="dflink_search" id="dflink_search"
                        class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-flamingo-500 sm:text-sm sm:leading-6"
                        placeholder="dgufilm.link/example">
                </div>
                <button type="button"
                    class="relative -ml-px rounded-r-md px-3 py-2 text-sm font-semibold text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                    <span class="sr-only">검색</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- List -->
<div class="mt-5 relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="overflow-hidden bg-white shadow rounded-lg">
        <ul role="list" class="divide-y divide-gray-200">
            {% if user.is_authenticated %}
            <li id="id_open_form" class="cursor-pointer" tabindex="0">
                <div class="block hover:bg-gray-50">
                    <div class="flex gap-1 justify-center sm:justify-start px-4 py-4 sm:px-6 text-gray-900">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path
                                d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                        </svg>
                        <p class="text-sm">여기를 눌러 새로 만드세요.</p>
                    </div>
                </div>
            </li>
            {% else %}
            <li id="id_open_form">
                <a href="{% url 'account_login' %}" class="login-button">
                    <div class="block hover:bg-gray-50">
                        <div class="flex gap-1 justify-center sm:justify-start px-4 py-4 sm:px-6 text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-5 h-5">
                                <path
                                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                            </svg>
                            <p class="text-sm">여기를 눌러 새로 만드세요.</p>
                        </div>
                    </div>
                </a>
            </li>
            {% endif %}

            {% for dflink in dflink_list %}
            {% if dflink.user.student_id == request.user.username %}
            <li>
                <div class="created-by-user cursor-pointer block hover:bg-gray-50" tabindex="0">
                    <div class="px-4 py-4 sm:px-6">
                        <div class="flex items-center justify-between">
                            <p class="truncate text-base font-medium text-flamingo-600">dgufilm.link/<span
                                    class="font-bold">{{ dflink.slug }}</span></p>
                            <div class="ml-2 flex flex-shrink-0">
                                {% if dflink.category == "작품" %}
                                <p
                                    class="inline-flex rounded-full bg-flamingo-700 px-2 text-xs font-semibold leading-5 text-white">
                                    작품</p>
                                {% elif dflink.category == "학과" %}
                                <p
                                    class="inline-flex rounded-full bg-flamingo-100 px-2 text-xs font-semibold leading-5 text-flamingo-900">
                                    학과</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mt-2 sm:flex sm:justify-between">
                            <p class="flex items-center font-medium text-sm text-gray-900">
                                {{ dflink.title }}
                            </p>
                            <div class="sm:flex">
                                <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                                    <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path
                                            d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                                    </svg>
                                    {{ dflink.user.name }}
                                </p>
                                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
                                    <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <p>
                                        <time
                                            datetime="{{ dflink.expiration_date }}">{{ dflink.expiration_date }}</time>
                                        만료
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <input value="" hidden>
            {% else %}
            <li>
                <a href="https://dgufilm.link/{{ dflink.slug }}" target="_blank" class="block hover:bg-gray-50">
                    <div class="px-4 py-4 sm:px-6">
                        <div class="flex items-center justify-between">
                            <p class="truncate text-base font-medium text-flamingo-600">dgufilm.link/<span
                                    class="font-bold">{{ dflink.slug }}</span></p>
                            <div class="ml-2 flex flex-shrink-0">
                                {% if dflink.category == "작품" %}
                                <p
                                    class="inline-flex rounded-full bg-flamingo-700 px-2 text-xs font-semibold leading-5 text-white">
                                    작품</p>
                                {% elif dflink.category == "학과" %}
                                <p
                                    class="inline-flex rounded-full bg-flamingo-100 px-2 text-xs font-semibold leading-5 text-flamingo-900">
                                    학과</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="mt-2 sm:flex sm:justify-between">
                            <p class="flex items-center font-medium text-sm text-gray-900">
                                {{ dflink.title }}
                            </p>
                            <div class="sm:flex">
                                <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                                    <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path
                                            d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
                                    </svg>
                                    {{ dflink.user.name }}
                                </p>
                                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
                                    <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <p>
                                        <time
                                            datetime="{{ dflink.expiration_date }}">{{ dflink.expiration_date }}</time>
                                        만료
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <!-- Pagination -->
        <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-6" aria-label="Pagination">
            <div class="-mt-px flex w-0 flex-1">
                <a href="#"
                    class="inline-flex items-center border-t-2 border-transparent py-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">
                    <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
                            clip-rule="evenodd"></path>
                    </svg>
                    이전
                </a>
            </div>
            <div class="hidden md:-mt-px md:flex">
                <a href="#"
                    class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">1</a>
                <!-- Current: "border-flamingo-500 text-flamingo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-200" -->
                <a href="#"
                    class="inline-flex items-center border-t-2 border-flamingo-500 px-4 py-4 text-sm font-medium text-flamingo-600"
                    aria-current="page">2</a>
                <a href="#"
                    class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">3</a>
                <a href="#"
                    class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">4</a>
                <a href="#"
                    class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">5</a>
                <a href="#"
                    class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">6</a>
            </div>
            <div class="-mt-px flex w-0 flex-1 justify-end">
                <a href="#"
                    class="inline-flex items-center border-t-2 border-transparent py-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-200 hover:text-gray-700">
                    다음
                    <svg class="ml-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</div>

{% if user.is_authenticated %}
<!-- Slide-over form -->
<div id="id_form" x-data="{ open: false }" @keydown.window.escape="open = false" x-show="open"
    class="relative z-20 hidden" aria-labelledby="slide-over-title" x-ref="dialog" aria-modal="true">
    <div class="fixed inset-0"></div>

    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">

                <div x-show="open" x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
                    x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
                    x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
                    x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full"
                    class="pointer-events-auto w-screen max-w-md" @click.away="open = false">
                    <form class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl">
                        <div class="h-0 flex-1 overflow-y-auto">
                            <div class="bg-flamingo-700 py-6 px-4 sm:px-6">
                                <div class="flex items-center justify-between">
                                    <h2 class="text-base font-semibold leading-6 text-white" id="slide-over-title">새
                                        동영링크 만들기</h2>
                                    <div class="ml-3 flex h-7 items-center">
                                        <button type="button"
                                            class="rounded-md bg-flamingo-700 text-flamingo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
                                            @click="open = false">
                                            <span class="sr-only">Close panel</span>
                                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <p class="text-sm text-flamingo-200">우리 학과만의 링크를 만들어보세요.</p>
                                </div>
                            </div>
                            <div class="flex flex-1 flex-col justify-between">
                                <div class="px-4 sm:px-6">
                                    <div class="space-y-6 py-6">
                                        <div>
                                            <label for="id_original_url"
                                                class="block text-sm font-medium leading-6 text-gray-900">원본 URL</label>
                                            <div class="mt-2">
                                                <input type="url" name="id_original_url" id="id_original_url"
                                                    class="step-one only-url block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-flamingo-600 sm:text-sm sm:leading-6 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                                    placeholder="https://www.example.com" required>
                                            </div>
                                            <p class="mt-2 text-sm text-gray-500" id="id_original_url_descr" hidden>
                                            </p>
                                            <p class="mt-2 text-sm text-flamingo-600" id="id_original_url_error" hidden>
                                            </p>
                                        </div>

                                        <div>
                                            <label for="id_dflink_slug"
                                                class="block text-sm font-medium leading-6 text-gray-900">동영링크
                                                URL</label>
                                            <div class="mt-2 flex rounded-md shadow-sm">
                                                <span
                                                    class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-sm">https://dgufilm.link/</span>
                                                <input type="text" name="id_dflink_slug" id="id_dflink_slug"
                                                    class="step-one only-slug block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-flamingo-600 sm:text-sm sm:leading-6 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                                    placeholder="tejavasce" required>
                                            </div>
                                            <p class="mt-2 text-sm text-gray-500" id="id_dflink_slug_descr" hidden>
                                            </p>
                                            <p class="mt-2 text-sm text-flamingo-600" id="id_dflink_slug_error" hidden>
                                            </p>
                                        </div>

                                        <div>
                                            <label for="id_title"
                                                class="block text-sm font-medium leading-6 text-gray-900">제목</label>
                                            <div class="mt-2">
                                                <input type="text" name="id_title" id="id_title"
                                                    class="step-one space-allowed block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-flamingo-600 sm:text-sm sm:leading-6 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                                    placeholder="&lt;데자와&gt; 시나리오" required>
                                            </div>
                                            <p class="mt-2 text-sm text-gray-500" id="id_title_descr" hidden>
                                            </p>
                                            <p class="mt-2 text-sm text-flamingo-600" id="id_title_error" hidden>
                                            </p>
                                        </div>

                                        <fieldset>
                                            <legend class="text-sm font-medium leading-6 text-gray-900">범주</legend>
                                            <div class="mt-2 space-y-4">
                                                <div class="relative flex items-start">
                                                    <div class="absolute flex h-6 items-center">
                                                        <input id="id_category_work" name="id_category" value="작품"
                                                            aria-describedby="id_category_work_descr" type="radio"
                                                            class="step-one h-4 w-4 radio border-gray-300 text-flamingo-600 focus:ring-flamingo-600 disabled:opacity-75 disabled:cursor-not-allowed">
                                                    </div>
                                                    <div class="pl-7 text-sm leading-6">
                                                        <label for="id_category_work"
                                                            class="font-medium text-gray-900">작품 관련</label>
                                                        <p id="id_category_work_descr" class="text-gray-500">
                                                            시나리오, 일일촬영계획표, 레퍼런스 등</p>
                                                    </div>
                                                </div>
                                                <div class="relative flex items-start">
                                                    <div class="absolute flex h-6 items-center">
                                                        <input id="id_category_dept" name="id_category" value="학과"
                                                            aria-describedby="id_category_dept_descr" type="radio"
                                                            class="step-one h-4 w-4 radio border-gray-300 text-flamingo-600 focus:ring-flamingo-600 disabled:opacity-75 disabled:cursor-not-allowed">
                                                    </div>
                                                    <div class="pl-7 text-sm leading-6">
                                                        <label for="id_category_dept"
                                                            class="font-medium text-gray-900">학과 관련</label>
                                                        <p id="id_category_dept_descr" class="text-gray-500">
                                                            학생회 및 학과사무실 공지사항 등</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <label for="id_category" hidden>범주</label>
                                            <input type="text" id="id_category" class="step-one alt-radio" value=""
                                                required hidden>
                                            <p class="mt-2 text-sm text-gray-500" id="id_category_descr" hidden></p>
                                            <p class="mt-2 text-sm text-flamingo-600" id="id_category_error" hidden></p>
                                        </fieldset>

                                        <div>
                                            <label for="id_expiration_date"
                                                class="block text-sm font-medium leading-6 text-gray-900">만료일</label>
                                            <div class="mt-2">
                                                <input type="text" name="id_expiration_date" id="id_expiration_date"
                                                    class="step-one only-date block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-flamingo-600 sm:text-sm sm:leading-6 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                                    maxlength="10" minlength="10" placeholder="{% now 'Y' %}-00-00"
                                                    min="" max="" required>
                                            </div>
                                            <p class="mt-2 text-sm text-gray-500" id="id_expiration_date_help">
                                            </p>
                                            <p class="mt-2 text-sm text-gray-500" id="id_expiration_date_descr" hidden>
                                            </p>
                                            <p class="mt-2 text-sm text-flamingo-600" id="id_expiration_date_error"
                                                hidden></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="id_create_dflink_div" class="flex items-center justify-between">
                            <p id="id_create_dflink_descr" class="pl-4 py-4 text-sm text-gray-500"></p>
                            <p id="id_create_dflink_error" class="pl-4 py-4 text-sm text-flamingo-600"></p>
                            <div class="flex flex-shrink-0 justify-end px-4 py-4">
                                <button type="button" id="id_create_dflink"
                                    class="inline-flex justify-center rounded-md bg-flamingo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-flamingo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-flamingo-600 disabled:opacity-75 disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed"><svg
                                        class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        id="id_create_dflink_spin">
                                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                            stroke-width="4"></circle>
                                        <path class="opacity-75" fill="currentColor"
                                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                        </path>
                                    </svg>만들기</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/consts.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>
<script src="{% static 'js/dflink.js' %}"></script>
{% endif %}
{% endblock %}