<div id="id_modal"
     x-data="{ open: false }"
     @keydown.window.escape="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
     x-show="open"
     class="relative z-20"
     aria-labelledby="id_modal_title"
     x-ref="dialog"
     aria-modal="true"
     hidden>
    <div x-show="open"
         x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div x-show="open"
                 x-transition:enter="ease-out duration-300"
                 x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave="ease-in duration-200"
                 x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                 x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                 class="w-full relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:max-w-lg sm:p-6"
                 @click.away="open = true">
                <div class="absolute right-0 top-0 pr-4 pt-5 sm:pr-5 block">
                    <button id="id_close_modal"
                            type="button"
                            class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:df-focus-ring-offset-white disabled:cursor-not-allowed"
                            @click="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keydown.enter.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }"
                            @keyup.space.prevent="if (isItOkayToCloseModal()) { open = false; executeWhenModalIsClosed(); }">
                        <span class="sr-only"><span class="class-heading">시설예약 상세 보기</span> 화면 닫기</span>
                        <svg class="h-6 w-6"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col">
                    <div class="flex mb-5">
                        <div class="mt-0 text-left">
                            <h3 id="id_modal_title"
                                class="text-base font-semibold leading-6 text-gray-900">
                                <span class="class-heading">시설예약 상세 보기</span>
                            </h3>
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col justify-between">
                        <div id="id_modal_info" class="space-y-5">
                            <div class="space-y-5 divide-y divide-gray-200">
                                <div class="space-y-5">
                                    <div>
                                        <label for="id_email"
                                               class="flex-1 text-sm font-medium leading-6 text-gray-900">
                                            이메일 주소
                                        </label>
                                        <div class="mt-2">
                                            <input type="text"
                                                   id="id_email"
                                                   class="class-first only-email space-allowed block w-full rounded-md py-1.5 text-gray-900 shadow-sm df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset text-sm leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                                   value="{{ user.email }}"
                                                   data-type="이메일 주소"
                                                   data-original="{{ user.email }}"
                                                   placeholder="gildong@example.com"
                                                   maxlength="100"
                                                   required>
                                        </div>
                                        <p class="mt-2 text-sm text-gray-500" id="id_email_descr" hidden></p>
                                        <p class="mt-2 text-sm text-flamingo-600" id="id_email_error" hidden></p>
                                    </div>
                                    <div>
                                        <label for="id_phone"
                                               class="flex-1 text-sm font-medium leading-6 text-gray-900">
                                            휴대전화 번호
                                        </label>
                                        <div class="mt-2">
                                            <input type="tel"
                                                   id="id_phone"
                                                   class="class-first only-phone block w-full rounded-md py-1.5 text-gray-900 shadow-sm df-ring-inset-gray placeholder:text-gray-400 hover:bg-gray-50 hover:df-ring-inset-gray focus:df-focus-ring-inset text-sm leading-6 read-only:hover:bg-gray-100 read-only:bg-gray-100 read-only:cursor-not-allowed"
                                                   value="{{ user.metadata.phone }}"
                                                   data-type="휴대전화 번호"
                                                   data-original="{{ user.metadata.phone }}"
                                                   placeholder="010-0000-0000"
                                                   maxlength="13"
                                                   minlength="13"
                                                   required>
                                        </div>
                                        <p class="mt-2 text-sm text-gray-500" id="id_phone_descr" hidden></p>
                                        <p class="mt-2 text-sm text-flamingo-600" id="id_phone_error" hidden></p>
                                    </div>
                                    <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                                        <div class="flex mt-2 text-sm sm:mt-0">
                                            <p class="text-gray-500 sm:mt-0" id="id_send_vcode_descr" hidden>잠시만 기다려주세요.</p>
                                            <p class="text-flamingo-600 sm:mt-0" id="id_send_vcode_error" hidden></p>
                                        </div>
                                        <div class="sm:flex sm:flex-row-reverse">
                                            <button type="button"
                                                    class="inline-flex w-full justify-center rounded-md bg-stone-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-stone-700sm:ml-3 sm:w-auto disabled:opacity-75 focus:df-focus-ring-offset-white disabled:hover:bg-stone-600 disabled:cursor-not-allowed"
                                                    id="id_send_vcode">
                                                <svg class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     fill="none"
                                                     viewBox="0 0 24 24"
                                                     id="id_send_vcode_spin">
                                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                                    </path>
                                                </svg>
                                                인증번호 받기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-y-5 pt-5">
                                    <div>
                                        <label for="id_email_vcode" class="flex-1 text-sm font-medium text-gray-700">이메일 주소 인증번호</label>
                                        <div class="mt-2">
                                            <input type="text"
                                                   name="email_vcode"
                                                   class="block w-full text-sm placeholder-gray-400 shadow-sm rounded-md df-ring-inset-gray hover:bg-gray-50 hover:df-ring-inset-gray class-second only-number focus:df-focus-ring-inset read-only:bg-gray-100 read-only:cursor-not-allowed disabled:bg-gray-100 disabled:cursor-not-allowed"
                                                   placeholder="000000"
                                                   required=""
                                                   disabled=""
                                                   maxlength="6"
                                                   minlength="6"
                                                   id="id_email_vcode">
                                        </div>
                                        <p class="mt-2 text-sm text-gray-500"
                                           id="id_email_vcode_descr"
                                           hidden=""></p>
                                        <p class="mt-2 text-sm text-flamingo-600"
                                           id="id_email_vcode_error"
                                           hidden=""></p>
                                    </div>
                                    <div>
                                        <label for="id_phone_vcode" class="flex-1 text-sm font-medium text-gray-700">휴대전화 번호 인증번호</label>
                                        <div class="mt-2">
                                            <input type="text"
                                                   name="phone_vcode"
                                                   class="block w-full text-sm placeholder-gray-400 shadow-sm rounded-md df-ring-inset-gray hover:bg-gray-50 hover:df-ring-inset-gray class-second only-number focus:df-focus-ring-inset read-only:bg-gray-100 read-only:cursor-not-allowed disabled:bg-gray-100 disabled:cursor-not-allowed"
                                                   placeholder="000000"
                                                   autocomplete="one-time-code"
                                                   required=""
                                                   disabled=""
                                                   maxlength="6"
                                                   minlength="6"
                                                   id="id_phone_vcode">
                                        </div>
                                        <p class="mt-2 text-sm text-gray-500"
                                           id="id_phone_vcode_descr"
                                           hidden=""></p>
                                        <p class="mt-2 text-sm text-flamingo-600"
                                           id="id_phone_vcode_error"
                                           hidden=""></p>
                                    </div>
                                    <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                                        <div class="flex mt-2 text-sm sm:mt-0">
                                            <p class="text-gray-500 sm:mt-0" id="id_confirm_vcode_descr" hidden>잠시만 기다려주세요.</p>
                                            <p class="text-flamingo-600 sm:mt-0" id="id_confirm_vcode_error" hidden></p>
                                        </div>
                                        <div class="sm:flex sm:flex-row-reverse">
                                            <button type="button"
                                                    class="inline-flex w-full justify-center rounded-md bg-flamingo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-flamingo-700 sm:ml-3 sm:w-auto disabled:opacity-75 focus:df-focus-ring-offset-white disabled:hover:bg-flamingo-600 disabled:cursor-not-allowed"
                                                    id="id_confirm_vcode"
                                                    disabled="">
                                                <svg class="animate-spin mr-2 h-5 w-5 text-white hidden"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     fill="none"
                                                     viewBox="0 0 24 24"
                                                     id="id_confirm_vcode_spin">
                                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                                    </path>
                                                </svg>
                                                수정하기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-y-5 pt-5">
                                    <div>
                                        <div class="rounded-md shadow bg-flamingo-50 p-4">
                                            <div class="flex">
                                                <div class="flex-shrink-0">
                                                    <svg class="h-5 w-5 text-flamingo-400"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 20 20"
                                                         fill="currentColor"
                                                         aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                                <div class="ml-3">
                                                    <h3 class="text-sm font-medium text-flamingo-800">탈퇴하기 전 꼭 읽어주세요.</h3>
                                                    <div class="mt-2 text-sm text-flamingo-700 space-y-2">
                                                        <p>
                                                            <span class="font-semibold">디닷에프</span>는 회원 개인정보를 회원탈퇴 시까지 보유하며 30일간 로그인 기록 부재 시 자동 회원탈퇴 처리합니다. <span class="font-semibold">단, 다음의 경우 학번에 한하여 영구 보유하며 해당 회원 파기 요청 접수 시 또는 운영진 판단 하 보유 필요성 부재 시 파기</span>합니다.
                                                        </p>
                                                        <ul role="list" class="list-disc pl-5 space-y-2">
                                                            <li>
                                                                시설예약을 신청한 경우
                                                            </li>
                                                            <li>
                                                                프로젝트 등록 후, 해당 프로젝트를 삭제하지 않은 상태에서 탈퇴한 경우
                                                            </li>
                                                            <li>
                                                                프로젝트 스태프로 추가된 후, 해당 프로젝트가 삭제되지 않은 상태 또는 스태프 명단에서 제외되지 않은 상태에서 탈퇴한 경우
                                                            </li>
                                                        </ul>
                                                        <p>탈퇴 후 파기된 정보는 복구할 수 없으며, 디닷에프를 다시 이용하려면 재가입해주시기 바랍니다.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                                        <div class="flex mt-2 text-sm sm:mt-0">
                                            <p class="text-gray-500 sm:mt-0" id="id_delete_user_descr" hidden>잠시만 기다려주세요.</p>
                                            <p class="text-flamingo-600 sm:mt-0" id="id_delete_user_error" hidden></p>
                                        </div>
                                        <div class="sm:flex sm:flex-row-reverse">
                                            <button type="button"
                                                    id="id_delete_user"
                                                    class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 hover:text-red-700 hover:bg-red-50 sm:mt-0 sm:w-auto disabled:opacity-75 focus:text-red-700 focus:bg-red-50 focus:df-focus-ring-offset-white disabled:text-gray-900 disabled:bg-white disabled:hover:bg-white disabled:cursor-not-allowed">
                                                <svg class="animate-spin mr-2 h-5 w-5 hidden"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     fill="none"
                                                     viewBox="0 0 24 24"
                                                     id="id_delete_user_spin">
                                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                                    </path>
                                                </svg>
                                                <span class="class-double-check" hidden>정말&nbsp;</span>탈퇴하기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="id_modal_facility" class="space-y-5">
                            <div class="class-link-list-item text-sm flex relative justify-between gap-x-4 py-5 hover:bg-gray-50 px-4 sm:px-6 -mx-4 sm:-mx-6">
                                <a id="id_public_url_from_request"
                                   href="#"
                                   target="_blank"
                                   class="absolute inset-x-0 -top-px bottom-0 cursor-pointer focus:df-focus-ring-inset"></a>
                                <div class="flex min-w-0 items-center">
                                    <div class="min-w-0 flex-auto">
                                        <p class="font-semibold leading-6 text-gray-900">
                                            <span id="id_name_from_request">시설</span>
                                        </p>
                                        <p id="id_status_descr"
                                           class="class-collection-id-and-quantity mt-1 truncate leading-5 text-gray-500 ">
                                            운영진이 예약 정보를 검토하고 있어요.
                                        </p>
                                    </div>
                                </div>
                                <div class="flex shrink-0 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         class="w-6 h-6 text-gray-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                    </svg>
                                </div>
                            </div>
                            <div class="rounded-md bg-gray-50 p-4 text-sm text-gray-700 divide-y divide-gray-100">
                                <div class="flex flex-col space-y-2 pb-4">
                                    <div class="flex justify-between items-center">
                                        <div class="flex">상태</div>
                                        <div id="id_status_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-14 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="flex justify-between items-center">
                                        <div class="flex">└ 신청일시</div>
                                        <div id="id_created_time_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="hidden justify-between items-center">
                                        <div class="flex">└ 확정일시</div>
                                        <div id="id_approved_time_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="hidden justify-between items-center">
                                        <div class="flex">└ 시작일시</div>
                                        <div id="id_started_time_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="hidden justify-between items-center">
                                        <div class="flex">└ 종료일시</div>
                                        <div id="id_completed_time_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="hidden justify-between items-center">
                                        <div class="flex">└ 취소일시</div>
                                        <div id="id_canceled_time_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="hidden justify-between items-center">
                                        <div class="flex">└ 반려일시</div>
                                        <div id="id_rejected_time_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                </div>
                                <div class="flex justify-between items-center py-4">
                                    <div class="flex">사용 목적</div>
                                    <div id="id_purpose_from_request"
                                         class="animate-pulse pulse-on mt-0.5 h-4 w-20 bg-gray-200 rounded"></div>
                                </div>
                                <div class="flex flex-col space-y-2 pt-4">
                                    <div class="flex justify-between items-center">
                                        <div class="flex">사용 기간</div>
                                        <div id="id_duration_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-6 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="flex justify-between items-center">
                                        <div class="flex">└ 예정 시작일시</div>
                                        <div id="id_start_datetime_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                    <div class="flex justify-between items-center">
                                        <div class="flex">└ 예정 종료일시</div>
                                        <div id="id_end_datetime_from_request"
                                             class="animate-pulse pulse-on mt-0.5 h-4 w-36 bg-gray-200 rounded"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="class-request-detail" hidden>
                                <input type="hidden" id="id_status" value="">
                                <input type="hidden" id="id_record_id" value="">
                                <input type="hidden" id="id_category" value="">
                                <input type="hidden" id="id_project_id" value="">
                                <input type="hidden" id="id_start_equipment_hour" value="">
                                <input type="hidden" id="id_end_equipment_hour" value="">
                                <div class="space-y-5">
                                    <div class="flex rounded-md shadow bg-flamingo-50 p-4">
                                        <div class="flex-shrink-0">
                                            <svg class="h-5 w-5 text-flamingo-400"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="ml-3">
                                            <h3 class="text-sm font-medium text-flamingo-800">
                                                <span class="class-keyword">취소하기</span> 전 꼭 읽어주세요.
                                            </h3>
                                            <div class="mt-2 text-sm text-flamingo-700">
                                                <ul role="list" class="list-disc space-y-1 pl-5">
                                                    <li>예약 취소 이후 해당 시설을 사용하려면 처음부터 다시 예약해야 해요.</li>
                                                    <li>안정적인 서비스 제공을 위해 운영진은 {{ user.metadata.name }}님의 시설예약 취소 내역을 조회할 수 있어요.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="class-request-detail" hidden>
                    <div class="flex flex-col-reverse mt-5 justify-between sm:items-center sm:flex sm:flex-row">
                        <div class="flex mt-2 text-sm sm:mt-0">
                            <p class="text-gray-500 sm:mt-0" id="id_cancel_or_delete_descr" hidden>잠시만 기다려주세요.</p>
                            <p class="text-flamingo-600 sm:mt-0"
                               id="id_cancel_or_delete_error"
                               hidden></p>
                        </div>
                        <div class="sm:flex sm:flex-row-reverse">
                            <button type="button"
                                    id="id_cancel_or_delete"
                                    class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 hover:text-red-700 hover:bg-red-50 sm:mt-0 sm:w-auto disabled:opacity-75 focus:text-red-700 focus:bg-red-50 focus:df-focus-ring-offset-white disabled:text-gray-900 disabled:bg-white disabled:hover:bg-white disabled:cursor-not-allowed">
                                <svg class="animate-spin mr-2 h-5 w-5 hidden"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     id="id_cancel_or_delete_spin">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                                <span class="class-double-check" hidden>정말&nbsp;</span><span class="class-keyword">취소하기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
